openapi: "3.1.0"
info:
  title: "API Reference"
  version: "1.0"
  description: "The Cohere API for interacting with Chat, Embed and Rerank models."
  summary: "Cohere's API"
  contact:
    name: "Cohere Developers"
    url: "https://cohere.com/"
    email: "team@cohere.com"
  termsOfService: "https://cohere.com/terms-of-use"
  license:
    name: "proprietary"
    url: "https://cohere.com/terms-of-use"
servers:
- url: "https://api.cohere.com"
  description: "production"
security:
- bearerAuth: []
tags:
- name: "/datasets"
  description: "Datasets API"
- name: "/connectors"
  description: "Connectors API"
- name: "/embed-jobs"
  description: "Embed Jobs API"
- name: "/finetuning"
  description: "Finetuning API (Beta)"
paths:
  /v2/chat:
    post:
      summary: "Chat API (v2)"
      operationId: "chatv2"
      x-fern-audiences:
      - "v2-beta"
      x-fern-sdk-group-name: "v2"
      x-fern-sdk-method-name: "chat"
      x-fern-streaming:
        format: "sse"
        terminator: "[DONE]"
        stream-condition: "$request.stream"
        stream-description: "Generates a text response to a user message. To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).\n\nFollow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.\n"
        response:
          required:
          - "id"
          - "finish_reason"
          - "message"
          properties:
            id:
              type: "string"
              description: "Unique identifier for the generated reply. Useful for submitting feedback."
            finish_reason:
              $ref: "#/components/schemas/ChatFinishReason"
            message:
              $ref: "#/components/schemas/AssistantMessageResponse"
            usage:
              $ref: "#/components/schemas/Usage"
            logprobs:
              type: "array"
              items:
                $ref: "#/components/schemas/LogprobItem"
        response-stream:
          description: "StreamedChatResponse is returned in streaming mode (specified with `stream=True` in the request)."
          oneOf:
          - $ref: "#/components/schemas/ChatMessageStartEvent"
          - $ref: "#/components/schemas/ChatContentStartEvent"
          - $ref: "#/components/schemas/ChatContentDeltaEvent"
          - $ref: "#/components/schemas/ChatContentEndEvent"
          - $ref: "#/components/schemas/ChatToolPlanDeltaEvent"
          - $ref: "#/components/schemas/ChatToolCallStartEvent"
          - $ref: "#/components/schemas/ChatToolCallDeltaEvent"
          - $ref: "#/components/schemas/ChatToolCallEndEvent"
          - $ref: "#/components/schemas/ChatMessageEndEvent"
          - $ref: "#/components/schemas/ChatDebugEvent"
          discriminator:
            propertyName: "type"
            mapping:
              message-start: "#/components/schemas/ChatMessageStartEvent"
              content-start: "#/components/schemas/ChatContentStartEvent"
              content-delta: "#/components/schemas/ChatContentDeltaEvent"
              content-end: "#/components/schemas/ChatContentEndEvent"
              tool-plan-delta: "#/components/schemas/ChatToolPlanDeltaEvent"
              tool-call-start: "#/components/schemas/ChatToolCallStartEvent"
              tool-call-delta: "#/components/schemas/ChatToolCallDeltaEvent"
              tool-call-end: "#/components/schemas/ChatToolCallEndEvent"
              citation-start: "#/components/schemas/CitationStartEvent"
              citation-end: "#/components/schemas/CitationEndEvent"
              message-end: "#/components/schemas/ChatMessageEndEvent"
              debug: "#/components/schemas/ChatDebugEvent"
      description: "Generates a text response to a user message and streams it down, token by token. To learn how to use the Chat API with streaming follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).\n\nFollow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.\n"
      parameters:
      - $ref: "#/components/parameters/RequestSource"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              required:
              - "messages"
              - "model"
              properties:
                stream:
                  description: "Defaults to `false`.\n\nWhen `true`, the response will be a SSE stream of events.\n\nStreaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n"
                  type: "boolean"
                  x-fern-audiences:
                  - "public"
                model:
                  x-fern-audiences:
                  - "public"
                  type: "string"
                  description: "The name of a compatible [Cohere model](https://docs.cohere.com/v2/docs/models)."
                messages:
                  x-fern-audiences:
                  - "public"
                  $ref: "#/components/schemas/ChatMessages"
                tools:
                  x-fern-audiences:
                  - "public"
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ToolV2"
                  description: "A list of tools (functions) available to the model. The model response may contain 'tool_calls' to the specified tools.\n\nLearn more in the [Tool Use guide](https://docs.cohere.com/docs/tools).\n"
                strict_tools:
                  x-fern-audiences:
                  - "public"
                  x-fern-availability: "beta"
                  type: "boolean"
                  description: "When set to `true`, tool calls in the Assistant message will be forced to follow the tool definition strictly. Learn more in the [Structured Outputs (Tools) guide](https://docs.cohere.com/docs/structured-outputs-json#structured-outputs-tools).\n\n**Note**: The first few requests with a new set of tools will take longer to process.\n"
                documents:
                  x-fern-audiences:
                  - "public"
                  type: "array"
                  items:
                    oneOf:
                    - type: "string"
                    - $ref: "#/components/schemas/Document"
                  description: "A list of relevant documents that the model can cite to generate a more accurate reply. Each document is either a string or document object with content and metadata.\n"
                citation_options:
                  x-fern-audiences:
                  - "public"
                  $ref: "#/components/schemas/CitationOptions"
                response_format:
                  x-fern-audiences:
                  - "public"
                  $ref: "#/components/schemas/ResponseFormatV2"
                safety_mode:
                  x-fern-audiences:
                  - "public"
                  enum:
                  - "CONTEXTUAL"
                  - "STRICT"
                  - "OFF"
                  description: "Used to select the [safety instruction](https://docs.cohere.com/v2/docs/safety-modes) inserted into the prompt. Defaults to `CONTEXTUAL`.\nWhen `OFF` is specified, the safety instruction will be omitted.\n\nSafety modes are not yet configurable in combination with `tools` and `documents` parameters.\n\n**Note**: This parameter is only compatible newer Cohere models, starting with [Command R 08-2024](https://docs.cohere.com/docs/command-r#august-2024-release) and [Command R+ 08-2024](https://docs.cohere.com/docs/command-r-plus#august-2024-release).\n\n**Note**: `command-r7b-12-2024` and newer models only support `\"CONTEXTUAL\"` and `\"STRICT\"` modes.\n"
                max_tokens:
                  x-fern-audiences:
                  - "public"
                  type: "integer"
                  description: "The maximum number of output tokens the model will generate in the response. If not set, `max_tokens` defaults to the model's maximum output token limit. You can find the maximum output token limits for each model in the [model documentation](https://docs.cohere.com/docs/models).\n\n**Note**: Setting a low value may result in incomplete generations. In such cases, the `finish_reason` field in the response will be set to `\"MAX_TOKENS\"`.\n\n**Note**: If `max_tokens` is set higher than the model's maximum output token limit, the generation will be capped at that model-specific maximum limit.\n"
                stop_sequences:
                  x-fern-audiences:
                  - "public"
                  type: "array"
                  items:
                    type: "string"
                  description: "A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.\n"
                temperature:
                  x-fern-audiences:
                  - "public"
                  type: "number"
                  format: "float"
                  minimum: 0
                  maximum: 1
                  description: "Defaults to `0.3`.\n\nA non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.\n\nRandomness can be further maximized by increasing the  value of the `p` parameter.\n"
                seed:
                  x-fern-audiences:
                  - "public"
                  type: "integer"
                  minimum: 0
                  maximum: !number 1.844674407370955200000000000000000000000e+19n{128}
                  description: "If specified, the backend will make a best effort to sample tokens\ndeterministically, such that repeated requests with the same\nseed and parameters should return the same result. However,\ndeterminism cannot be totally guaranteed.\n"
                frequency_penalty:
                  x-fern-audiences:
                  - "public"
                  type: "number"
                  format: "float"
                  description: "Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\nUsed to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n"
                presence_penalty:
                  x-fern-audiences:
                  - "public"
                  type: "number"
                  format: "float"
                  description: "Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\nUsed to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n"
                k:
                  x-fern-audiences:
                  - "public"
                  type: "integer"
                  default: 0
                  minimum: 0
                  maximum: 500
                  description: "Ensures that only the top `k` most likely tokens are considered for generation at each step. When `k` is set to `0`, k-sampling is disabled.\nDefaults to `0`, min value of `0`, max value of `500`.\n"
                p:
                  x-fern-audiences:
                  - "public"
                  type: "number"
                  format: "float"
                  default: 0.75
                  minimum: 0.01
                  maximum: 0.99
                  description: "Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.\nDefaults to `0.75`. min value of `0.01`, max value of `0.99`.\n"
                logprobs:
                  x-fern-audiences:
                  - "public"
                  type: "boolean"
                  description: "Defaults to `false`. When set to `true`, the log probabilities of the generated tokens will be included in the response.\n"
                tool_choice:
                  x-fern-audiences:
                  - "public"
                  enum:
                  - "REQUIRED"
                  - "NONE"
                  description: "Used to control whether or not the model will be forced to use a tool when answering. When `REQUIRED` is specified, the model will be forced to use at least one of the user-defined tools, and the `tools` parameter must be passed in the request.\nWhen `NONE` is specified, the model will be forced **not** to use one of the specified tools, and give a direct response.\nIf tool_choice isn't specified, then the model is free to choose whether to use the specified tools or not.\n\n**Note**: This parameter is only compatible with models [Command-r7b](https://docs.cohere.com/v2/docs/command-r7b) and newer.\n"
                thinking:
                  x-fern-audiences:
                  - "public"
                  $ref: "#/components/schemas/Thinking"
                priority:
                  x-fern-audiences:
                  - "public"
                  type: "integer"
                  default: 0
                  minimum: 0
                  maximum: 999
                  description: "Controls how early the request is handled. Lower numbers indicate higher priority (default: 0, the highest). When the system is under load, higher-priority requests are processed first and are the least likely to be dropped."
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/ChatResponseV2"
                - $ref: "#/components/schemas/StreamedChatResponseV2"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/UnprocessableEntity"
        429:
          $ref: "#/components/responses/RateLimit"
        498:
          $ref: "#/components/responses/InvalidToken"
        499:
          $ref: "#/components/responses/RequestCancelled"
        500:
          $ref: "#/components/responses/InternalServerError"
        501:
          $ref: "#/components/responses/NotImplemented"
        503:
          $ref: "#/components/responses/ServiceUnavailable"
        504:
          $ref: "#/components/responses/GatewayTimeout"
      x-fern-examples:
      - code-samples:
        - sdk: "typescript"
          name: "Default"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const response = await cohere.chat({\n    model: 'command-a-plus-05-2026',\n    messages: [\n      {\n        role: 'user',\n        content: 'Tell me about LLMs',\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"
        - sdk: "python"
          name: "Default"
          code: "import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\"command-a-plus-05-2026\",\n    messages=[{\"role\": \"user\", \"content\": \"Tell me about LLMs\"}],\n)\n\nprint(response)\n"
        - sdk: "python"
          name: "Async"
          code: "import cohere\nimport asyncio\n\nco = cohere.AsyncClientV2()\n\nasync def main():\n    response = await co.chat(\n        model=\"command-a-plus-05-2026\",\n        messages=[{\"role\": \"user\", \"content\": \"Tell me about LLMs\"}],\n    )\n    print(response)\n\nasyncio.run(main())\n"
        - sdk: "go"
          name: "Default"
          code: "package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\t\"os\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(os.Getenv(\"CO_API_KEY\")))\n\n\tresp, err := co.V2.Chat(\n\t\tcontext.TODO(),\n\t\t&cohere.V2ChatRequest{\n\t\t\tModel: \"command-a-plus-05-2026\",\n\t\t\tMessages: cohere.ChatMessages{\n\t\t\t\t{\n\t\t\t\t\tRole: \"user\",\n\t\t\t\t\tUser: &cohere.UserMessageV2{\n\t\t\t\t\t\tContent: &cohere.UserMessageV2Content{\n\t\t\t\t\t\t\tString: \"Tell me about LLMs\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"
        - sdk: "java"
          name: "Default"
          code: "/* (C)2024 */\npackage chatv2post;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatRequest;\nimport com.cohere.api.types.*;\nimport java.util.List;\n\npublic class Default {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\"snippet\").build();\n\n    ChatResponse response =\n        cohere\n            .v2()\n            .chat(\n                V2ChatRequest.builder()\n                    .model(\"command-a-plus-05-2026\")\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(UserMessageContent.of(\"Tell me about LLMs\"))\n                                    .build())))\n                    .build());\n\n    System.out.println(response);\n  }\n}\n"
        - sdk: "curl"
          name: "Default"
          code: "curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"command-a-plus-05-2026\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Tell me about LLMs\"\n      }\n    ]\n  }'\n"
        request:
          model: "command-a-plus-05-2026"
          messages:
          - role: "user"
            content: "Tell me about LLMs"
          stream: false
        response:
          body:
            id: "c14c80c3-18eb-4519-9460-6c92edd8cfb4"
            message:
              role: "assistant"
              content:
              - type: "text"
                text: "LLMs stand for Large Language Models, which are a type of neural network model specialized in processing and generating human language. They are designed to understand and respond to natural language input and have become increasingly popular and valuable in recent years.\n\nLLMs are trained on vast amounts of text data, enabling them to learn patterns, grammar, and semantic meanings present in the language. These models can then be used for various natural language processing tasks, such as text generation, summarization, question answering, machine translation, sentiment analysis, and even some aspects of natural language understanding.\n\nSome well-known examples of LLMs include:\n\n1. GPT-3 (Generative Pre-trained Transformer 3) — An open-source LLM developed by OpenAI, capable of generating human-like text and performing various language tasks.\n\n2. BERT (Bidirectional Encoder Representations from Transformers) — A Google-developed LLM that is particularly good at understanding contextual relationships in text, and is widely used for natural language understanding tasks like sentiment analysis and named entity recognition.\n\n3. T5 (Text-to-Text Transfer Transformer) — Also from Google, T5 is a flexible LLM that frames all language tasks as text-to-text problems, where the model learns to generate output text based on input text prompts.\n\n4. RoBERTa (Robustly Optimized BERT Approach) — A variant of BERT that uses additional training techniques to improve performance.\n\n5. DeBERTa (Decoding-enhanced BERT with disentangled attention) — Another variant of BERT that introduces a new attention mechanism.\n\nLLMs have become increasingly powerful and larger in scale, improving the accuracy and sophistication of language tasks. They are also being used as a foundation for developing various applications, including chatbots, content recommendation systems, language translation services, and more.\nThe future of LLMs holds the potential for even more sophisticated language technologies, with ongoing research and development focused on enhancing their capabilities, improving efficiency, and exploring their applications in various domains."
            finish_reason: "COMPLETE"
            usage:
              billed_units:
                input_tokens: 5
                output_tokens: 418
              tokens:
                input_tokens: 71
                output_tokens: 418
      - code-samples:
        - sdk: "typescript"
          name: "Documents"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const response = await cohere.chat({\n    model: 'command-a-plus-05-2026',\n    messages: [\n      {\n        role: 'user',\n        content: 'Who is more popular: Nsync or Backstreet Boys?',\n      },\n    ],\n    documents: [\n      {\n        data: {\n          title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',\n          snippet:\n            '↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.',\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',\n          snippet:\n            \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven't study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn't a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\",\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',\n          snippet:\n            \" 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers – especially teenagers and young women's – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\",\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',\n          snippet:\n            \" Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I'll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC's albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\",\n        },\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"
        - sdk: "python"
          name: "Documents"
          code: "import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\"command-a-plus-05-2026\",\n    messages=[{\n        \"role\": \"user\", \n        \"content\": \"Who is more popular: Nsync or Backstreet Boys?\"\n    }],\n    documents=[\n        {\n            \"data\":  {\n                \"title\": \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n                \"snippet\": \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\",\n            }\n        },\n        {\n            \"data\":  {\n                \"title\": \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n                \"snippet\": \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\",\n            }\n        },\n        {\n            \"data\":  {\n                \"title\": \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n                \"snippet\": \" 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\",\n            }\n        },\n        {\n            \"data\":  {\n                \"title\": \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n                \"snippet\": \" Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\",\n            }\n        }\n    ],\n)\n\nprint(response)\n"
        - sdk: "java"
          name: "Documents"
          code: "/* (C)2024 */\npackage chatv2post;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatRequest;\nimport com.cohere.api.resources.v2.types.V2ChatRequestDocumentsItem;\nimport com.cohere.api.types.*;\nimport java.util.List;\nimport java.util.Map;\n\npublic class Documents {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\"snippet\").build();\n\n    ChatResponse response =\n        cohere\n            .v2()\n            .chat(\n                V2ChatRequest.builder()\n                    .model(\"command-a-plus-05-2026\")\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(\n                                        UserMessageContent.of(\n                                            \"Who is more popular: Nsync or Backstreet Boys?\"))\n                                    .build())))\n                    .documents(\n                        List.of(\n                            V2ChatRequestDocumentsItem.of(\n                                Document.builder()\n                                    .data(\n                                        Map.of(\n                                            \"title\",\n                                            \"CSPC: Backstreet Boys Popularity Analysis -\"\n                                                + \" ChartMasters\",\n                                            \"snippet\",\n                                            \"↓ Skip to Main Content\\n\\n\"\n                                                + \"Music industry – One step closer to being\"\n                                                + \" accurate\\n\\n\"\n                                                + \"CSPC: Backstreet Boys Popularity Analysis\\n\\n\"\n                                                + \"Hernán Lopez Posted on February 9, 2017 Posted\"\n                                                + \" in CSPC 72 Comments Tagged with Backstreet\"\n                                                + \" Boys, Boy band\\n\\n\"\n                                                + \"At one point, Backstreet Boys defined success:\"\n                                                + \" massive albums sales across the globe, great\"\n                                                + \" singles sales, plenty of chart topping\"\n                                                + \" releases, hugely hyped tours and tremendous\"\n                                                + \" media coverage.\\n\\n\"\n                                                + \"It is true that they benefited from\"\n                                                + \" extraordinarily good market conditions in all\"\n                                                + \" markets. After all, the all-time record year\"\n                                                + \" for the music business, as far as revenues in\"\n                                                + \" billion dollars are concerned, was actually\"\n                                                + \" 1999. That is, back when this five men group\"\n                                                + \" was at its peak.\"))\n                                    .build()),\n                            V2ChatRequestDocumentsItem.of(\n                                Document.builder()\n                                    .data(\n                                        Map.of(\n                                            \"title\",\n                                            \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n                                            \"snippet\",\n                                            \"↓ Skip to Main Content\\n\\n\"\n                                                + \"Music industry – One step closer to being\"\n                                                + \" accurate\\n\\n\"\n                                                + \"CSPC: NSYNC Popularity Analysis\\n\\n\"\n                                                + \"MJD Posted on February 9, 2018 Posted in CSPC\"\n                                                + \" 27 Comments Tagged with Boy band, N'Sync\\n\\n\"\n                                                + \"At the turn of the millennium three teen acts\"\n                                                + \" were huge in the US, the Backstreet Boys,\"\n                                                + \" Britney Spears and NSYNC. The latter is the\"\n                                                + \" only one we haven't study so far. It took 15\"\n                                                + \" years and Adele to break their record of 2,4\"\n                                                + \" million units sold of No Strings Attached in\"\n                                                + \" its first week alone.\\n\\n\"\n                                                + \"It wasn't a fluke, as the second fastest\"\n                                                + \" selling album of the Soundscan era prior 2015,\"\n                                                + \" was also theirs since Celebrity debuted with\"\n                                                + \" 1,88 million units sold.\"))\n                                    .build()),\n                            V2ChatRequestDocumentsItem.of(\n                                Document.builder()\n                                    .data(\n                                        Map.of(\n                                            \"title\",\n                                            \"CSPC: Backstreet Boys Popularity Analysis -\"\n                                                + \" ChartMasters\",\n                                            \"snippet\",\n                                            \" 1997, 1998, 2000 and 2001 also rank amongst some\"\n                                                + \" of the very best years.\\n\\n\"\n                                                + \"Yet the way many music consumers – especially\"\n                                                + \" teenagers and young women's – embraced their\"\n                                                + \" output deserves its own chapter. If Jonas\"\n                                                + \" Brothers and more recently One Direction\"\n                                                + \" reached a great level of popularity during the\"\n                                                + \" past decade, the type of success achieved by\"\n                                                + \" Backstreet Boys is in a completely different\"\n                                                + \" level as they really dominated the business\"\n                                                + \" for a few years all over the world, including\"\n                                                + \" in some countries that were traditionally hard\"\n                                                + \" to penetrate for Western artists.\\n\\n\"\n                                                + \"We will try to analyze the extent of that\"\n                                                + \" hegemony with this new article with final\"\n                                                + \" results which will more than surprise many\"\n                                                + \" readers.\"))\n                                    .build()),\n                            V2ChatRequestDocumentsItem.of(\n                                Document.builder()\n                                    .data(\n                                        Map.of(\n                                            \"title\",\n                                            \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n                                            \"snippet\",\n                                            \" Was the teen group led by Justin Timberlake\"\n                                                + \" really that big? Was it only in the US where\"\n                                                + \" they found success? Or were they a global\"\n                                                + \" phenomenon?\\n\\n\"\n                                                + \"As usual, I'll be using the Commensurate Sales\"\n                                                + \" to Popularity Concept in order to relevantly\"\n                                                + \" gauge their results. This concept will not\"\n                                                + \" only bring you sales information for all\"\n                                                + \" NSYNC's albums, physical and download singles,\"\n                                                + \" as well as audio and video streaming, but it\"\n                                                + \" will also determine their true popularity. If\"\n                                                + \" you are not yet familiar with the CSPC method,\"\n                                                + \" the next page explains it with a short video.\"\n                                                + \" I fully recommend watching the video before\"\n                                                + \" getting into the sales figures.\"))\n                                    .build())))\n                    .build());\n    System.out.println(response);\n  }\n}\n"
        - sdk: "go"
          name: "Documents"
          code: "package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\t\"os\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(os.Getenv(\"CO_API_KEY\")))\n\n\tresp, err := co.V2.Chat(\n\t\tcontext.TODO(),\n\t\t&cohere.V2ChatRequest{\n\t\t\tModel: \"command-a-plus-05-2026\",\n\t\t\tMessages: cohere.ChatMessages{\n\t\t\t\t{\n\t\t\t\t\tRole: \"user\",\n\t\t\t\t\tUser: &cohere.UserMessageV2{\n\t\t\t\t\t\tContent: &cohere.UserMessageV2Content{\n\t\t\t\t\t\t\tString: \"Who is more popular: Nsync or Backstreet Boys?\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t\tDocuments: []*cohere.V2ChatRequestDocumentsItem{\n\t\t\t\t{\n\t\t\t\t\tDocument: &cohere.Document{\n\t\t\t\t\t\tData: map[string]interface{}{\n\t\t\t\t\t\t\t\"title\":   \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n\t\t\t\t\t\t\t\"snippet\": \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tDocument: &cohere.Document{\n\t\t\t\t\t\tData: map[string]interface{}{\n\t\t\t\t\t\t\t\"title\":   \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n\t\t\t\t\t\t\t\"snippet\": \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven't study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn't a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tDocument: &cohere.Document{\n\t\t\t\t\t\tData: map[string]interface{}{\n\t\t\t\t\t\t\t\"title\":   \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n\t\t\t\t\t\t\t\"snippet\": \" 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers – especially teenagers and young women's – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tDocument: &cohere.Document{\n\t\t\t\t\t\tData: map[string]interface{}{\n\t\t\t\t\t\t\t\"title\":   \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n\t\t\t\t\t\t\t\"snippet\": \" Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I'll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC's albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"
        - sdk: "curl"
          name: "Documents"
          code: "curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"command-a-plus-05-2026\",\n    \"documents\": [\n      {\n        \"data\": {\n          \"title\": \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n          \"snippet\": \"↓ Skip to Main Content\\\\n\\\\nMusic industry – One step closer to being accurate\\\\n\\\\nCSPC: Backstreet Boys Popularity Analysis\\\\n\\\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\\\n\\\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\\\n\\\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\"\n        }\n      },\n      {\n        \"data\": {\n          \"title\": \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n          \"snippet\": \"↓ Skip to Main Content\\\\n\\\\nMusic industry – One step closer to being accurate\\\\n\\\\nCSPC: NSYNC Popularity Analysis\\\\n\\\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, NSync\\\\n\\\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we havent study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\\\n\\\\nIt wasnt a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\"\n        }\n      },\n      {\n        \"data\": {\n          \"title\": \"CSPC: Backstreet Boys Popularity Analysis - ChartMasters\",\n          \"snippet\": \" 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\\\n\\\\nYet the way many music consumers – especially teenagers and young womens – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\\\n\\\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\"\n        }\n      },\n      {\n        \"data\": {\n          \"title\": \"CSPC: NSYNC Popularity Analysis - ChartMasters\",\n          \"snippet\": \" Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\\\n\\\\nAs usual, Ill be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNCs albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\"\n        }\n      }\n    ],\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Who is more popular: Nsync or Backstreet Boys?\"\n      }\n    ]\n  }'\n"
        request:
          model: "command-a-plus-05-2026"
          documents:
          - data:
              content: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
          - data:
              content: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
          - data:
              content: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              snippet: "1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers."
          - data:
              content: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              snippet: "Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures."
          messages:
          - role: "user"
            content: "Who is more popular: Nsync or Backstreet Boys?"
          stream: false
        response:
          body:
            id: "c14c80c3-18eb-4519-9460-6c92edd8cfb4"
            message:
              role: "assistant"
              content:
              - type: "text"
                text: "Both NSync and Backstreet Boys were extremely popular at the turn of the millennium. Backstreet Boys had massive album sales across the globe, great singles sales, plenty of chart-topping releases, hyped tours, and tremendous media coverage. NSync also had huge sales, with their album No Strings Attached selling 2.4 million units in its first week. They also had the second fastest-selling album of the Soundscan era before 2015, with Celebrity debuting at 1.88 million units sold.\n\nWhile it is difficult to say for sure which of the two bands was more popular, Backstreet Boys did have success in some countries that were traditionally hard to penetrate for Western artists."
              citations:
              - start: 36
                end: 84
                text: "extremely popular at the turn of the millennium."
                sources:
                - type: "document"
                  id: "doc:1"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                    title: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              - start: 105
                end: 141
                text: "massive album sales across the globe"
                sources:
                - type: "document"
                  id: "doc:0"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              - start: 143
                end: 162
                text: "great singles sales"
                sources:
                - type: "document"
                  id: "doc:0"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              - start: 164
                end: 196
                text: "plenty of chart-topping releases"
                sources:
                - type: "document"
                  id: "doc:0"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              - start: 198
                end: 209
                text: "hyped tours"
                sources:
                - type: "document"
                  id: "doc:0"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              - start: 215
                end: 241
                text: "tremendous media coverage."
                sources:
                - type: "document"
                  id: "doc:0"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
              - start: 280
                end: 350
                text: "album No Strings Attached selling 2.4 million units in its first week."
                sources:
                - type: "document"
                  id: "doc:1"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                    title: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              - start: 369
                end: 430
                text: "second fastest-selling album of the Soundscan era before 2015"
                sources:
                - type: "document"
                  id: "doc:1"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                    title: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              - start: 437
                end: 483
                text: "Celebrity debuting at 1.88 million units sold."
                sources:
                - type: "document"
                  id: "doc:1"
                  document:
                    snippet: "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                    title: "CSPC: NSYNC Popularity Analysis - ChartMasters"
              - start: 589
                end: 677
                text: "success in some countries that were traditionally hard to penetrate for Western artists."
                sources:
                - type: "document"
                  id: "doc:2"
                  document:
                    snippet: "1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers."
                    title: "CSPC: Backstreet Boys Popularity Analysis - ChartMasters"
            finish_reason: "COMPLETE"
            usage:
              billed_units:
                input_tokens: 682
                output_tokens: 143
              tokens:
                input_tokens: 1380
                output_tokens: 434
      - code-samples:
        - sdk: "typescript"
          name: "Default"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const stream = await cohere.chatStream({\n    model: 'command-a-plus-05-2026',\n    messages: [\n      {\n        role: 'user',\n        content: 'Tell me about LLMs',\n      },\n    ],\n  });\n\n  for await (const chatEvent of stream) {\n    if (chatEvent.type === 'content-delta') {\n      console.log(chatEvent.delta?.message);\n    }\n  }\n})();\n"
        - sdk: "python"
          name: "Default"
          code: "import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat_stream(\n    model=\"command-a-plus-05-2026\",\n    messages=[{\"role\": \"user\", \"content\": \"Tell me about LLMs\"}],\n)\n\nfor event in response:\n    if event.type == \"content-delta\":\n        print(event.delta.message.content.text, end=\"\")\n"
        - sdk: "java"
          name: "Default"
          code: "/* (C)2024 */\npackage chatv2post;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatStreamRequest;\nimport com.cohere.api.types.*;\nimport java.util.List;\n\npublic class Stream {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\"snippet\").build();\n\n    Iterable<StreamedChatResponseV2> response =\n        cohere\n            .v2()\n            .chatStream(\n                V2ChatStreamRequest.builder()\n                    .model(\"command-a-plus-05-2026\")\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(UserMessageContent.of(\"Tell me about LLMs\"))\n                                    .build())))\n                    .build());\n\n    for (StreamedChatResponseV2 chatResponse : response) {\n      if (chatResponse.isContentDelta()) {\n        System.out.println(\n            chatResponse\n                .getContentDelta()\n                .flatMap(ChatContentDeltaEvent::getDelta)\n                .flatMap(ChatContentDeltaEventDelta::getMessage)\n                .flatMap(ChatContentDeltaEventDeltaMessage::getContent)\n                .flatMap(ChatContentDeltaEventDeltaMessageContent::getText)\n                .orElse(\"\"));\n      }\n    }\n\n    System.out.println(response);\n  }\n}\n"
        - sdk: "go"
          name: "Default"
          code: "package main\n\nimport (\n\t\"context\"\n\t\"errors\"\n\t\"io\"\n\t\"log\"\n\t\"os\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(os.Getenv(\"CO_API_KEY\")))\n\n\tresp, err := co.V2.ChatStream(\n\t\tcontext.TODO(),\n\t\t&cohere.V2ChatStreamRequest{\n\t\t\tModel: \"command-a-plus-05-2026\",\n\t\t\tMessages: cohere.ChatMessages{\n\t\t\t\t{\n\t\t\t\t\tRole: \"user\",\n\t\t\t\t\tUser: &cohere.UserMessageV2{\n\t\t\t\t\t\tContent: &cohere.UserMessageV2Content{\n\t\t\t\t\t\t\tString: \"Tell me about LLMs\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t// Make sure to close the stream when you're done reading.\n\t// This is easily handled with defer.\n\tdefer resp.Close()\n\n\tfor {\n\t\tmessage, err := resp.Recv()\n\n\t\tif errors.Is(err, io.EOF) {\n\t\t\t// An io.EOF error means the server is done sending messages\n\t\t\t// and should be treated as a success.\n\t\t\tbreak\n\t\t}\n\n\t\tif message.ContentDelta != nil {\n\t\t\tlog.Printf(\"%+v\", message)\n\t\t}\n\t}\n}\n"
        - sdk: "curl"
          name: "Default"
          code: "curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"stream\": true,\n    \"model\": \"command-a-plus-05-2026\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Tell me about LLMs\"\n      }\n    ]\n  }'\n"
        request:
          model: "command-a-plus-05-2026"
          messages:
          - role: "user"
            content: "Tell me about LLMs"
          stream: true
        response:
          stream:
          - event: "message-start"
            data:
              type: "message-start"
              id: "29f14a5a-11de-4cae-9800-25e4747408ea"
              delta:
                message:
                  role: "assistant"
          - event: "content-start"
            data:
              type: "content-start"
              index: 0
              delta:
                message:
                  content:
                    type: "text"
                    text: ""
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: "LL"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: "Ms"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " stand"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " for"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " Large"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " Language"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " Models"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: ","
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " which"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " are"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " a"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " type"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " of"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " neural"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " network"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " model"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " specialized"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " in"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " processing"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " and"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " generating"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " human"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: " language"
          - event: "content-delta"
            data:
              type: "content-delta"
              index: 0
              delta:
                message:
                  content:
                    text: "."
          - event: "content-end"
            data:
              type: "content-end"
              index: 0
          - event: "message-end"
            data:
              type: "message-end"
              delta:
                finish_reason: "COMPLETE"
                usage:
                  billed_units:
                    input_tokens: 5
                    output_tokens: 26
                  tokens:
                    input_tokens: 71
                    output_tokens: 26
      - code-samples:
        - sdk: "typescript"
          name: "Tools"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const response = await cohere.chat({\n    model: 'command-a-plus-05-2026',\n    messages: [\n      {\n        role: 'user',\n        content:\n          \"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?\",\n      },\n    ],\n    tools: [\n      {\n        type: 'function',\n        function: {\n          name: 'query_daily_sales_report',\n          description:\n            'Connects to a database to retrieve overall sales volumes and sales information for a given day.',\n          parameters: {\n            type: 'object',\n            properties: {\n              day: {\n                description: 'Retrieves sales data for this day, formatted as YYYY-MM-DD.',\n                type: 'string',\n              },\n            },\n            required: ['day'],\n          },\n        },\n      },\n      {\n        type: 'function',\n        function: {\n          name: 'query_product_catalog',\n          description:\n            'Connects to a product catalog with information about all the products being sold, including categories, prices, and stock levels.',\n          parameters: {\n            type: 'object',\n            properties: {\n              category: {\n                description:\n                  'Retrieves product information data for all products in this category.',\n                type: 'string',\n              },\n            },\n            required: ['category'],\n          },\n        },\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"
        - sdk: "python"
          name: "Tools"
          code: "import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\"command-a-reasoning-08-2025\",\n    messages=[\n        {\n            \"role\": \"user\",\n            \"content\": \"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?\",\n        }\n    ],\n    tools=[\n        cohere.ToolV2(\n            type=\"function\",\n            function={\n                \"name\": \"query_daily_sales_report\",\n                \"description\": \"Connects to a database to retrieve overall sales volumes and sales information for a given day.\",\n                \"parameters\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"day\": {\n                            \"description\": \"Retrieves sales data for this day, formatted as YYYY-MM-DD.\",\n                            \"type\": \"string\",\n                        }\n                    },\n                    \"required\": [\"day\"],\n                },\n            },\n        ),\n        cohere.ToolV2(\n            type=\"function\",\n            function={\n                \"name\": \"query_product_catalog\",\n                \"description\": \"Connects to a product catalog with information about all the products being sold, including categories, prices, and stock levels.\",\n                \"parameters\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"category\": {\n                            \"description\": \"Retrieves product information data for all products in this category.\",\n                            \"type\": \"string\",\n                        }\n                    },\n                    \"required\": [\"category\"],\n                },\n            },\n        ),\n    ],\n)\n\nprint(response)\n"
        - sdk: "java"
          name: "Tools"
          code: "/* (C)2024 */\npackage chatv2post;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatRequest;\nimport com.cohere.api.types.*;\nimport java.util.List;\nimport java.util.Map;\n\npublic class Tools {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\"snippet\").build();\n\n    ChatResponse response =\n        cohere\n            .v2()\n            .chat(\n                V2ChatRequest.builder()\n                    .model(\"command-a-reasoning-08-2025\")\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(\n                                        UserMessageContent.of(\n                                            \"Can you provide a sales summary for 29th September\"\n                                                + \" 2023, and also give me some details about the\"\n                                                + \" products in the 'Electronics' category, for\"\n                                                + \" example their prices and stock levels?\"))\n                                    .build())))\n                    .tools(\n                        List.of(\n                            ToolV2.builder()\n                                .type(\"function\")\n                                .function(\n                                    ToolV2Function.builder()\n                                        .name(\"query_daily_sales_report\")\n                                        .description(\n                                            \"Connects to a database to retrieve overall sales\"\n                                                + \" volumes and sales information for a given\"\n                                                + \" day.\")\n                                        .parameters(\n                                            Map.of(\n                                                \"type\",\n                                                \"object\",\n                                                \"properties\",\n                                                Map.of(\n                                                    \"day\",\n                                                    Map.of(\n                                                        \"description\",\n                                                        \"Retrieves sales data for this day,\"\n                                                            + \" formatted as YYYY-MM-DD.\",\n                                                        \"type\",\n                                                        \"string\")),\n                                                \"required\",\n                                                List.of(\"day\")))\n                                        .build())\n                                .build(),\n                            ToolV2.builder()\n                                .type(\"function\")\n                                .function(\n                                    ToolV2Function.builder()\n                                        .name(\"query_product_catalog\")\n                                        .description(\n                                            \"Connects to a product catalog with information\"\n                                                + \" about all the products being sold, including\"\n                                                + \" categories, prices, and stock levels.\")\n                                        .parameters(\n                                            Map.of(\n                                                \"type\",\n                                                \"object\",\n                                                \"properties\",\n                                                Map.of(\n                                                    \"category\",\n                                                    Map.of(\n                                                        \"description\",\n                                                        \"Retrieves product information data for all\"\n                                                            + \" products in this category.\",\n                                                        \"type\",\n                                                        \"string\")),\n                                                \"required\",\n                                                List.of(\"category\")))\n                                        .build())\n                                .build()))\n                    .build());\n\n    System.out.println(response);\n  }\n}\n"
        - sdk: "go"
          name: "Tools"
          code: "package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\t\"os\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(os.Getenv(\"CO_API_KEY\")))\n\n\tresp, err := co.V2.Chat(\n\t\tcontext.TODO(),\n\t\t&cohere.V2ChatRequest{\n\t\t\tModel: \"command-a-plus-05-2026\",\n\t\t\tMessages: cohere.ChatMessages{\n\t\t\t\t{\n\t\t\t\t\tRole: \"user\",\n\t\t\t\t\tUser: &cohere.UserMessageV2{\n\t\t\t\t\t\tContent: &cohere.UserMessageV2Content{\n\t\t\t\t\t\t\tString: \"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?\",\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t\tTools: []*cohere.ToolV2{\n\t\t\t\t{\n\t\t\t\t\tFunction: &cohere.ToolV2Function{\n\t\t\t\t\t\tName:        \"query_daily_sales_report\",\n\t\t\t\t\t\tDescription: cohere.String(\"Connects to a database to retrieve overall sales volumes and sales information for a given day.\"),\n\t\t\t\t\t\tParameters: map[string]interface{}{\n\t\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\t\"properties\": map[string]interface{}{\n\t\t\t\t\t\t\t\t\"day\": map[string]interface{}{\n\t\t\t\t\t\t\t\t\t\"type\":        \"string\",\n\t\t\t\t\t\t\t\t\t\"description\": \"Retrieves sales data for this day, formatted as YYYY-MM-DD.\",\n\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"required\": []string{\"day\"},\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tFunction: &cohere.ToolV2Function{\n\t\t\t\t\t\tName:        \"query_product_catalog\",\n\t\t\t\t\t\tDescription: cohere.String(\"Connects to a product catalog with information about all the products being sold, including categories, prices, and stock levels.\"),\n\t\t\t\t\t\tParameters: map[string]interface{}{\n\t\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\t\"properties\": map[string]interface{}{\n\t\t\t\t\t\t\t\t\"category\": map[string]interface{}{\n\t\t\t\t\t\t\t\t\t\"type\":        \"string\",\n\t\t\t\t\t\t\t\t\t\"description\": \"Retrieves product information data for all products in this category.\",\n\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"required\": []string{\"category\"},\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"
        - sdk: "curl"
          name: "Tools"
          code: "curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n        \"model\": \"command-a-plus-05-2026\",\n        \"tools\": [\n            {\n                \"type\": \"function\",\n                \"function\": {\n                    \"name\": \"query_daily_sales_report\",\n                    \"description\": \"Connects to a database to retrieve overall sales volumes and sales information for a given day.\",\n                    \"parameters\": {\n                        \"type\": \"object\",\n                        \"properties\": {\n                            \"day\": {\n                                \"description\": \"Retrieves sales data for this day, formatted as YYYY-MM-DD.\",\n                                \"type\": \"string\"\n                            }\n                        }\n                    }\n                }\n            },\n            {\n                \"type\": \"function\",\n                \"function\": {\n                    \"name\": \"query_product_catalog\",\n                    \"description\": \"Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.\",\n                    \"parameters\": {\n                        \"type\": \"object\",\n                        \"properties\": {\n                            \"category\": {\n                                \"description\": \"Retrieves product information data for all products in this category.\",\n                                \"type\": \"string\"\n                            }\n                        }\n                    }\n                }\n            }\n        ],\n        \"messages\": [\n            {\n                \"role\": \"user\",\n                \"content\": \"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?\"\n            }\n        ]\n    }'\n"
        request:
          model: "command-r"
          messages:
          - role: "user"
            content: "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?"
          tools:
          - type: "function"
            function:
              name: "query_daily_sales_report"
              description: "Connects to a database to retrieve overall sales volumes and sales information for a given day."
              parameters:
                type: "object"
                properties:
                  day:
                    description: "Retrieves sales data for this day, formatted as YYYY-MM-DD."
                    type: "str"
                required:
                - "day"
                x-fern-type-name: "tools-by6k68"
          - type: "function"
            function:
              name: "query_product_catalog"
              description: "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels."
              parameters:
                type: "object"
                properties:
                  category:
                    description: "Retrieves product information data for all products in this category."
                    type: "str"
                required:
                - "category"
                x-fern-type-name: "tools-o09qd6"
          stream: false
        response:
          body:
            id: "9e5f00aa-bf1e-481a-abe3-0eceac18c3ec"
            message:
              role: "assistant"
              content:
              - type: "thinking"
                thinking: "I will first find the sales summary for 29th September 2023. Then, I will find the details of the products in the 'Electronics' category."
              tool_calls:
              - id: "query_daily_sales_report_hgxxmkby3wta"
                type: "function"
                function:
                  name: "query_daily_sales_report"
                  arguments: "{\"day\": \"2023-09-29\"}"
              - id: "query_product_catalog_rpg0z5h8yyz2"
                type: "function"
                function:
                  name: "query_product_catalog"
                  arguments: "{\"category\": \"Electronics\"}"
            finish_reason: "TOOL_CALL"
            usage:
              billed_units:
                input_tokens: 127
                output_tokens: 69
              tokens:
                input_tokens: 1032
                output_tokens: 124
      - code-samples:
        - sdk: "typescript"
          name: "Images"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const response = await cohere.chat({\n    model: 'command-a-vision-07-2025',\n    messages: [\n      {\n        role: 'user',\n        content: [\n          { type: 'text', text: 'Describe this image' },\n          {\n            type: 'image_url',\n            imageUrl: {\n              // Can be either a base64 data URI or a web URL.\n              url: 'https://cohere.com/favicon-32x32.png',\n              detail: 'auto',\n            },\n          },\n        ],\n      },\n    ],\n  });\n  console.log(response.message.content[0].text);\n})();\n"
        - sdk: "python"
          name: "Images"
          code: "import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\"command-a-vision-07-2025\",\n    messages=[\n        {\n            \"role\": \"user\",\n            \"content\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Describe this image\"\n                },\n                {\n                    \"type\": \"image_url\",\n                    \"image_url\": {\n                        # Can be either a base64 data URI or a web URL.\n                        \"url\": \"https://cohere.com/favicon-32x32.png\",\n                        \"detail\": \"auto\"\n                    }\n                }\n            ]\n        }\n    ]\n)\n\nprint(response)"
        - sdk: "java"
          name: "Images"
          code: "/* (C)2024 */\npackage chatv2post;\n\nimport java.util.List;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatRequest;\nimport com.cohere.api.types.ChatMessageV2;\nimport com.cohere.api.types.ChatResponse;\nimport com.cohere.api.types.Content;\nimport com.cohere.api.types.ImageContent;\nimport com.cohere.api.types.ImageUrl;\nimport com.cohere.api.types.TextContent;\nimport com.cohere.api.types.UserMessage;\nimport com.cohere.api.types.UserMessageContent;\n\npublic class Image {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\"snippet\").build();\n\n    ChatResponse response =\n        cohere\n            .v2()\n            .chat(\n                V2ChatRequest.builder()\n                    .model(\"command-a-vision-07-2025\")\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(\n                                        UserMessageContent.of(\n                                            List.of(\n                                                Content.text(\n                                                    TextContent.builder()\n                                                        .text(\"Describe this image\")\n                                                        .build()),\n                                                Content.imageUrl(\n                                                    ImageContent.builder()\n                                                        .imageUrl(\n                                                            ImageUrl.builder()\n                                                                // Can be either a base64 data URI or a web URL.\n                                                                .url(\n                                                                    \"https://cohere.com/favicon-32x32.png\")\n                                                                .build())\n                                                        .build()))))\n                                    .build())))\n                    .build());\n\n    System.out.println(response);\n  }\n}\n"
        - sdk: "go"
          name: "Images"
          code: "package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\t\"os\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(os.Getenv(\"CO_API_KEY\")))\n\n\tresp, err := co.V2.Chat(\n\t\tcontext.TODO(),\n\t\t&cohere.V2ChatRequest{\n\t\t\tModel: \"command-a-vision-07-2025\",\n\t\t\tMessages: cohere.ChatMessages{\n\t\t\t\t{\n\t\t\t\t\tRole: \"user\",\n\t\t\t\t\tUser: &cohere.UserMessageV2{\n\t\t\t\t\t\tContent: &cohere.UserMessageV2Content{\n\t\t\t\t\t\t\tContentList: []*cohere.Content{\n\t\t\t\t\t\t\t\t{Type: \"text\", Text: &cohere.ChatTextContent{Text: \"Describe this image\"}},\n\t\t\t\t\t\t\t\t{Type: \"image_url\", ImageUrl: &cohere.ImageContent{\n\t\t\t\t\t\t\t\t\tImageUrl: &cohere.ImageUrl{\n\t\t\t\t\t\t\t\t\t\t// Can be either a base64 data URI or a web URL.\n\t\t\t\t\t\t\t\t\t\tUrl:    \"https://cohere.com/favicon-32x32.png\",\n\t\t\t\t\t\t\t\t\t\tDetail: cohere.ImageUrlDetailAuto.Ptr(),\n\t\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\t}},\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t},\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"
        - sdk: "curl"
          name: "Images"
          code: "curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"command-a-vision-07-2025\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Describe the logo in this image\"\n          },\n          {\n            \"type\": \"image_url\",\n            \"image_url\": {\n              \"url\": \"https://cohere.com/favicon-32x32.png\",\n              \"detail\": \"auto\"\n            }\n          }\n        ]\n      }\n    ]\n  }'\n"
        request:
          model: "command-a-vision-07-2025"
          messages:
          - role: "user"
            content:
            - type: "text"
              text: "Describe this image"
            - type: "image_url"
              image_url:
                url: "https://cohere.com/favicon-32x32.png"
                detail: "auto"
          stream: false
        response:
          body:
            id: "c14c80c3-18eb-4519-9460-6c92edd8cfb4"
            message:
              role: "assistant"
              content:
              - type: "text"
                text: "The image you've provided is quite abstract and blurred, making it challenging to discern specific details. However, I can describe the general shapes and colors present:\n\n1. **Shapes and Colors:**\n  - There are three main shapes in the image.\n  - The largest shape at the top is a dark green, irregular oval.\n  - Below it, on the left, there's a smaller, bright orange circle.\n  - To the right of the orange circle, there's another oval shape, this one in a light purple color.\n\n2. **Arrangement:**\n  - The green oval is positioned at the top center of the image.\n  - The orange circle is directly below the green oval, slightly to the left.\n  - The purple oval is to the right of the orange circle, forming a rough triangular arrangement with the other two shapes.\n\n3. **Blurriness:**\n  - The entire image is blurred, which softens the edges of the shapes and makes it difficult to identify any specific details or textures within the shapes.\n\nGiven the abstract nature of the image, it's open to interpretation. The shapes could represent various objects or concepts depending on the viewer's perspective. If you have any specific questions about the image or need further clarification, feel free to ask!\n"
            finish_reason: "COMPLETE"
            usage:
              billed_units:
                input_tokens: 5
                output_tokens: 418
              tokens:
                input_tokens: 71
                output_tokens: 418
      - code-samples:
        - sdk: "typescript"
          name: "Documents"
          code: "const { CohereClientV2 } = require('cohere-ai');\n\nconst cohere = new CohereClientV2({});\n\n(async () => {\n  const stream = await cohere.chatStream({\n    model: 'command-a-plus-05-2026',\n    documents: [\n      {\n        data: {\n          title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',\n          snippet:\n            '↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.',\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',\n          snippet:\n            \"↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven't study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn't a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\",\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',\n          snippet:\n            \" 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers – especially teenagers and young women's – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\",\n        },\n      },\n      {\n        data: {\n          title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',\n          snippet:\n            \" Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I'll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC's albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If 
[...]
