/** @page include_files Include Files

    A %Qore program can include other program code to be used and executed in the current program by using the @ref include "%include" directive. The @ref include "%include" directive must be the first text on the line, and the file name to include must follow. All text on the line after the @ref include "%include" directive will be used for the file name to include. The file name should not be quoted.

    Here is an example:

    @code{.py}
#!/usr/bin/qore
%include /usr/qore/lib/functions.ql
    @endcode

    After this, any variable, function, namespace, constant, or object declared in the above file can be used by the %Qore program.

    The \c QORE_INCLUDE_DIR environment variable determines the search path for include files (see @ref environment_variables).
*/
