/** @page identifiers Identifiers

    %Qore identifiers must start with an alphabetic character or an "_", and then may contain any number of alphabetic, numeric, or "_" characters. There is no length limit on %Qore identifiers.

    All %Qore identifiers are case-sensitive, therefore the identifier \c hello_there is not the same as \c Hello_There or \c HELLO_THERE.

    The following are examples of valid %Qore identifiers:

    <b>Examples of Valid %Qore Identifiers</b>
    |!Identifier|!Description
    |\c i|Simple one-character identifier
    |\c _|Another simple one-character identifier
    |\c foo21|Identifier with number
    |\c this_is_a_long_identifier|Long identifier with underline characters
    |\c _Total_318|Identifier with underlines and number
    |\c AVeryBigNumber|Mixed case identifier name
    |\c CAPS|Identifier in all capital letters

    The following are invalid identifiers:

    <b>Examples of Invalid %Qore Identifiers</b>
    |!Identifier|!Description
    |\c 1a|Does not start with an alphabetic character
    |\c this-and-that|Contains "-" characters
    |\c Start#10|Contains "#" character
*/
