/** @page command_line_processing Qore Executable Command-Line Processing

    This section describes command-line processing for the \c qore binary; see Qore::GetOpt for the class allowing for command-line processing in %Qore code.

*/

