/** @mainpage Qore Language Reference Manual

    @anchor qore_ref_manual

    - @subpage qore_intro
    - @subpage desc_overview
    - @subpage environment_variables
    - @subpage conditional_parsing
    - @subpage qore_modules
    - @subpage include_files
    - @subpage identifiers
    - @subpage comments
    - @subpage variables
    - @subpage basic_data_types
      - @ref boolean
      - @ref string
      - @ref integer
      - @ref float
      - @ref number
      - @ref date
      - @ref binary
      - @ref null
      - @ref nothing
    - @subpage container_data_types
      - @ref list
      - @ref hash
      - @ref object
    - @subpage code_data_types
      - @ref closure_type
      - @ref callref_type
    - @subpage data_type_declarations
    - @subpage lvalue_references
    - @subpage overloading
    - @subpage time_zones
    - @subpage character_encoding
    - @subpage expressions
    - @subpage operators
    - @subpage qore_regex
    - @subpage date_time_arithmetic
    - @subpage statements
    - @subpage qore_functions
    - @subpage code_flags
    - @subpage qore_namespaces
    - @subpage constants
    - @subpage qore_classes
    - @subpage threading
    - @subpage exception_handling
    - @subpage signal_handling
    - @subpage event_handling
    - @subpage command_line_processing
    - @subpage parse_directives
    - @subpage warnings
    - @subpage keywords
    - @subpage release_notes
*/
