/** @mainpage Qore logger Module

    @tableofcontents

    @section logger_binintro logger_bin Module Introduction

    The \c logger_bin module allows for higher-performance logging from the %Qore-language
     <a href="../../Logger/html/index.html">Logger</a> module.

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for
    more information).  The module is tagged as such in the module's header (meaning it can be loaded
    unconditionally regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires logger_bin @endcode

    @section logger_binreleasenotes logger Module Release Notes

    This module is always delivered with %Qore and therefore mirrors the %Qore version.
*/
