{
  "openapi": "3.1.0",
  "info": {
    "title": "Together APIs",
    "description": "The Together REST API. See https://docs.together.ai for more details.",
    "version": "2.0.0",
    "termsOfService": "https://www.together.ai/terms-of-service",
    "contact": {
      "name": "Together Support",
      "url": "https://www.together.ai/contact"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/togethercomputer/openapi/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.together.ai/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/organizations/{organizationId}/endpoints": {
      "get": {
        "tags": [
          "EndpointService"
        ],
        "summary": "List organization endpoints",
        "description": "Lists endpoints shared with every project in the specified organization. Project-private and public endpoints are not included.",
        "operationId": "EndpointService_ListOrganizationEndpoints",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Organization identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous list response."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Sort field for the results. Supports `created_at` or `updated_at`, optionally followed by `asc` or `desc`."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter expression using `name`, `created_at`, or `updated_at` with comparison operators and AND/OR/NOT; timestamps must be RFC 3339 strings. `name` supports substring matching with `:` and prefix/suffix wildcards with `*`, and must be a bare endpoint name."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListEndpointsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/models": {
      "get": {
        "tags": [
          "VolumeService"
        ],
        "summary": "List organization models",
        "description": "Lists custom models shared with every project in the specified organization. Project-private and public models are not included.",
        "operationId": "VolumeService_ListOrganizationModels",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Organization identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous list response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListModelsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/configs": {
      "get": {
        "tags": [
          "ConfigService"
        ],
        "summary": "List model configurations",
        "description": "Lists production-ready configuration revisions compatible with a reference model. Specify the model with `referenceModel` or the deprecated `referenceModelId`; if both are supplied, they must identify the same model. Results include public configurations and configurations owned by the specified project.",
        "operationId": "ConfigService_ListProjectConfigs",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "referenceModelId",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Deprecated. Use `referenceModel`. Reference model identifier filter; if both are set, they must agree."
            }
          },
          {
            "name": "referenceModel",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Model resource-name filter using `projects/{projectId}/models/{modelId}`; alternative to `referenceModelId`. If both are set, they must agree."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous list response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListProjectConfigsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/configs/{id}": {
      "get": {
        "tags": [
          "ConfigService"
        ],
        "summary": "Get a model configuration",
        "description": "Retrieves a model configuration revision by ID, including its runtime selectors and certifications.",
        "operationId": "ConfigService_GetProjectConfig",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Config revision identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ModelConfig"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints": {
      "get": {
        "tags": [
          "EndpointService"
        ],
        "summary": "List endpoints",
        "description": "Lists the dedicated inference endpoints owned by the specified project.",
        "operationId": "EndpointService_ListEndpoints",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "description": "Maximum number of endpoints to return."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous response."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Sort field for the results. Supports `created_at` or `updated_at`, optionally followed by `asc` or `desc`."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter expression using `name`, `created_at`, or `updated_at` with comparison operators and AND/OR/NOT; timestamps must be RFC 3339 strings. `name` supports substring matching with `:` and prefix/suffix wildcards with `*`, and accepts a bare endpoint name or `<project_slug>/<endpoint_name>`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListEndpointsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "EndpointService"
        ],
        "summary": "Create an endpoint",
        "description": "Creates a stable, inference-addressable endpoint. Add one or more deployments and configure its traffic split before sending inference requests to the endpoint name.",
        "operationId": "EndpointService_CreateEndpoint",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Endpoint"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{id}": {
      "patch": {
        "tags": [
          "EndpointService"
        ],
        "summary": "Update an endpoint",
        "description": "Updates mutable endpoint fields such as its endpoint string, visibility, or deployment traffic split. Use `updateMask` to select fields explicitly and `etag` in the request body for optimistic concurrency.",
        "operationId": "EndpointService_UpdateEndpoint",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Fields to update. If not set, the fields populated are updated."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.EndpointUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Endpoint"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "EndpointService"
        ],
        "summary": "Get an endpoint",
        "description": "Retrieves an endpoint and lightweight summaries of the deployments attached to it.",
        "operationId": "EndpointService_GetEndpoint",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Endpoint"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EndpointService"
        ],
        "summary": "Delete an endpoint",
        "description": "Permanently deletes an endpoint. Delete its deployments first; use `etag` to reject the request if the endpoint changed after it was read.",
        "operationId": "EndpointService_DeleteEndpoint",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency. If set, the delete is rejected if the current etag does not match."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/deployments": {
      "get": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "List deployments",
        "description": "Lists the deployments attached to an endpoint, including their model, configuration, scaling settings, placement, and current status.",
        "operationId": "DeploymentService_ListDeployments",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the project that owns the endpoint.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the endpoint whose deployments are listed.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of deployments to return. Max 500, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous deployment list response."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Sort field for the results. Supports `created_at` or `updated_at`, optionally followed by `asc` or `desc`."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter expression using `name`, `state`, `model`, `created_at`, or `updated_at` with comparison operators and AND/OR/NOT; `state` takes a DeploymentState enum name and `model` takes a model resource name. `name` supports substring matching with `:` and prefix/suffix wildcards with `*`, and accepts a bare deployment name or `<project_slug>/<endpoint_name>/<deployment_name>`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListDeploymentsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Create a deployment",
        "description": "Creates a model deployment under an endpoint. The deployment provisions asynchronously; monitor its status before routing live traffic to it.",
        "operationId": "DeploymentService_CreateDeployment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the project that owns the endpoint.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the endpoint that will contain the deployment.",
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "When true, validates the request without creating or provisioning a deployment."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Deployment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/deployments/{id}": {
      "patch": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Update a deployment",
        "description": "Updates mutable deployment fields such as its model, configuration, autoscaling bounds, or LoRA support. Changes that affect serving may trigger asynchronous reprovisioning.",
        "operationId": "DeploymentService_UpdateDeployment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Fields to update. If not set, the fields populated on `deployment` are updated."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.UpdateDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Deployment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Get a deployment",
        "description": "Retrieves a deployment's desired configuration, placement, runtime information, and current provisioning status.",
        "operationId": "DeploymentService_GetDeployment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Deployment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Delete a deployment",
        "description": "Permanently deletes a deployment from its endpoint. Remove the deployment from live traffic first; use `etag` to reject the request if it changed after it was read.",
        "operationId": "DeploymentService_DeleteDeployment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency. If set, the delete is rejected if the current etag does not match."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/deployments/{deploymentId}/adapters": {
      "get": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "List deployment adapters",
        "description": "Lists LoRA adapters attached to a deployment with per-cluster load state.",
        "operationId": "DeploymentService_ListAdapters",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of adapters to return."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous adapter list response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListAdaptersResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Add a deployment adapter",
        "description": "Attaches a LoRA adapter to a deployment. If the deployment is at adapter capacity, force can evict the oldest adapter.",
        "operationId": "DeploymentService_AddAdapter",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.AddAdapterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.AdapterEntry"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/deployments/{deploymentId}/adapters/{id}": {
      "get": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Get a deployment adapter",
        "description": "Gets an attached adapter and its per-cluster load state.",
        "operationId": "DeploymentService_GetAdapter",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Adapter model identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.AdapterEntry"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Remove a deployment adapter",
        "description": "Detaches an adapter from a deployment using its row-level etag for optimistic concurrency.",
        "operationId": "DeploymentService_RemoveAdapter",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Adapter model identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Adapter etag from a previous add, update, get, or list response. The removal is rejected if the adapter changed after that response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DeploymentService"
        ],
        "summary": "Update a deployment adapter",
        "description": "Updates the pinned revision of an attached adapter using its row-level etag for optimistic concurrency.",
        "operationId": "DeploymentService_UpdateAdapter",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Adapter model identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.UpdateAdapterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.AdapterEntry"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts": {
      "get": {
        "tags": [
          "RolloutService"
        ],
        "summary": "List endpoint rollouts",
        "description": "Lists rollout histories for an endpoint. Use `filter=ROLLOUT_FILTER_ACTIVE` to return only the active rollout, if one exists.",
        "operationId": "RolloutService_ListRollouts",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of rollouts to return. Max 500, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous rollout list response."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "enum": [
                "ROLLOUT_FILTER_ACTIVE",
                "ROLLOUT_FILTER_TERMINAL"
              ],
              "type": "string",
              "description": "Narrow results to active or terminal rollouts. Omit to list all rollouts."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListRolloutsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Create a rollout",
        "description": "Creates a rollout in the pending state without shifting traffic. Start the rollout in a separate request after reviewing its strategy and metric gates.",
        "operationId": "RolloutService_CreateRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateRolloutRequest"
              },
              "examples": {
                "canary": {
                  "summary": "Canary rollout with a metric gate",
                  "value": {
                    "sourceDeploymentId": "dep_source123",
                    "targetDeploymentId": "dep_target456",
                    "canary": {
                      "steps": [
                        {
                          "traffic": 25
                        },
                        {
                          "traffic": 50
                        },
                        {
                          "traffic": 100
                        }
                      ],
                      "stepInterval": "300s"
                    },
                    "metrics": [
                      {
                        "name": "router_latency",
                        "stat": "METRIC_STAT_TYPE_PERCENTILE",
                        "percentile": 95,
                        "thresholdCheck": {
                          "value": 30000,
                          "operator": "THRESHOLD_OPERATOR_LT"
                        },
                        "window": "300s"
                      }
                    ]
                  }
                },
                "blueGreen": {
                  "summary": "Blue-green cutover",
                  "value": {
                    "sourceDeploymentId": "dep_source123",
                    "targetDeploymentId": "dep_target456",
                    "blueGreen": {}
                  }
                },
                "rolling": {
                  "summary": "Rolling replica swap",
                  "value": {
                    "sourceDeploymentId": "dep_source123",
                    "targetDeploymentId": "dep_target456",
                    "rolling": {}
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/preview-defaults": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Preview rollout defaults",
        "description": "Returns the values a create request would pick for any field left unset, plus the capacity context needed to display them, without creating a rollout. Responses are display state only and re-validated authoritatively at create and start; do not copy response values back into a create request.",
        "operationId": "RolloutService_PreviewRolloutDefaults",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateRolloutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.RolloutDefaultsPreview"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}": {
      "get": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Get a rollout",
        "description": "Retrieves a rollout's strategy, lifecycle state, current traffic percentage, step history, and metric-gate results.",
        "operationId": "RolloutService_GetRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Delete a rollout",
        "description": "Deletes a rollout record. An active rollout must be aborted or completed before it can be deleted.",
        "operationId": "RolloutService_DeleteRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}/start": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Start a rollout",
        "description": "Starts a pending rollout and begins its configured traffic-shifting workflow.",
        "operationId": "RolloutService_StartRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}/pause": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Pause a rollout",
        "description": "Requests a running or stabilizing rollout to pause and records an optional reason. The response returns the PAUSING snapshot; poll GetRollout until state is PAUSED to confirm the executor has parked.",
        "operationId": "RolloutService_PauseRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.PauseRolloutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}/resume": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Resume a rollout",
        "description": "Resumes a pausing, paused, or system-paused rollout from its current step and traffic split.",
        "operationId": "RolloutService_ResumeRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.ResumeRolloutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}/cancel": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Cancel a rollout",
        "description": "Cancels a running, pausing, paused, system-paused, or stabilizing rollout by freezing the current traffic split into standing weights. Revert is removed and rejected; after canceling, start another canary rollout in either direction or rebalance the traffic split. The response is the accepted rollout snapshot; poll GetRollout until it reaches CANCELED.",
        "operationId": "RolloutService_CancelRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CancelRolloutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/rollouts/{id}/promote": {
      "post": {
        "tags": [
          "RolloutService"
        ],
        "summary": "Promote a rollout",
        "description": "Completes a running or paused rollout immediately by sending all live traffic to the target deployment.",
        "operationId": "RolloutService_PromoteRollout",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Rollout identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.PromoteRolloutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.Rollout"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/abExperiments": {
      "get": {
        "tags": [
          "ABExperimentService"
        ],
        "summary": "List A/B experiments",
        "description": "Lists the managed live-traffic experiments configured for an endpoint.",
        "operationId": "ABExperimentService_ListABExperiments",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of A/B experiments to return. Max 500, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous A/B experiment list response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListABExperimentsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ABExperimentService"
        ],
        "summary": "Create an A/B experiment",
        "description": "Creates a managed control/variant split across two to 20 deployments under the same endpoint. Exactly one member is the control, member percentages must add up to 100, and the split applies only to traffic that the endpoint would otherwise send to the control.",
        "operationId": "ABExperimentService_CreateABExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateABExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ABExperiment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/abExperiments/{id}": {
      "patch": {
        "tags": [
          "ABExperimentService"
        ],
        "summary": "Update an A/B experiment",
        "description": "Updates an experiment's description or member traffic percentages. Use the experiment etag for optimistic concurrency.",
        "operationId": "ABExperimentService_UpdateABExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "A/B experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Fields to update. If omitted, all mutable fields are overwritten."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.UpdateABExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ABExperiment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ABExperimentService"
        ],
        "summary": "Get an A/B experiment",
        "description": "Retrieves an A/B experiment and its participating deployments, roles, and traffic percentages.",
        "operationId": "ABExperimentService_GetABExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "A/B experiment identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ABExperiment"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ABExperimentService"
        ],
        "summary": "Delete an A/B experiment",
        "description": "Deletes an A/B experiment and removes its managed traffic split. The deployments themselves are not deleted.",
        "operationId": "ABExperimentService_DeleteABExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "A/B experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency. If set, the delete is rejected if the current etag does not match."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/shadowExperiments": {
      "get": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "List shadow experiments",
        "description": "Lists experiments that mirror sampled endpoint traffic to target deployments without affecting client responses. Set `includeTargets=true` to include target details inline.",
        "operationId": "ShadowExperimentService_ListShadowExperiments",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of shadow experiments to return. Max 500, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous shadow experiment list response."
            }
          },
          {
            "name": "includeTargets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Whether to include target deployments in each returned shadow experiment."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListShadowExperimentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Create a shadow experiment",
        "description": "Creates an experiment that mirrors a sampled portion of endpoint traffic to one or more target deployments without returning their responses to clients. Add a description with the update operation after creation.",
        "operationId": "ShadowExperimentService_CreateShadowExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateShadowExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperiment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/shadowExperiments/{id}": {
      "patch": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Update a shadow experiment",
        "description": "Updates a shadow experiment's description or source sampling strategy. `updateMask` is required; source changes also require the current `etag` in the request body.",
        "operationId": "ShadowExperimentService_UpdateShadowExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Required fields to update, such as description or source."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.UpdateShadowExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperiment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Get a shadow experiment",
        "description": "Retrieves a shadow experiment, including its sampling strategy and target deployments.",
        "operationId": "ShadowExperimentService_GetShadowExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperiment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Delete a shadow experiment",
        "description": "Deletes a shadow experiment and its target records. The underlying deployments are not deleted.",
        "operationId": "ShadowExperimentService_DeleteShadowExperiment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/shadowExperiments/{experimentId}/targets": {
      "get": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "List shadow experiment targets",
        "description": "Lists the deployments that receive mirrored requests from a shadow experiment.",
        "operationId": "ShadowExperimentService_ListTargets",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of targets to return. Max 500, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous shadow experiment target list response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ListShadowExperimentTargetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Create a shadow experiment target",
        "description": "Adds a deployment under the same endpoint as a target for mirrored requests.",
        "operationId": "ShadowExperimentService_CreateTarget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.CreateShadowExperimentTargetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperimentTarget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{endpointId}/shadowExperiments/{experimentId}/targets/{id}": {
      "patch": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Update a shadow experiment target",
        "description": "Updates a shadow target's name, deployment, or description. `updateMask` is required and must select at least one mutable field.",
        "operationId": "ShadowExperimentService_UpdateTarget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment target identifier.",
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated fields to update. Supported fields are `name`, `targetDeploymentId`, and `description`."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DE.UpdateShadowExperimentTargetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperimentTarget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Get a shadow experiment target",
        "description": "Retrieves one target configured to receive mirrored requests from a shadow experiment.",
        "operationId": "ShadowExperimentService_GetTarget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment target identifier.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.ShadowExperimentTarget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ShadowExperimentService"
        ],
        "summary": "Delete a shadow experiment target",
        "description": "Removes a target from a shadow experiment without deleting the underlying deployment.",
        "operationId": "ShadowExperimentService_DeleteTarget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Shadow experiment target identifier.",
              "type": "string"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Etag for optimistic concurrency."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{id}/analytics": {
      "get": {
        "tags": [
          "EndpointService"
        ],
        "summary": "Get endpoint analytics",
        "description": "Returns aggregated request, token, latency, throughput, error, and resource-utilization metrics for an endpoint over a time range. Optionally includes time-series buckets and a per-deployment breakdown.",
        "operationId": "EndpointService_GetEndpointAnalytics",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Restrict to a single deployment under this endpoint."
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Inclusive start of the time range. Defaults to 24 hours ago if unset."
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Exclusive end of the time range. Defaults to now if unset."
            }
          },
          {
            "name": "includeTimeSeries",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "When true, include per-bucket time series in the response."
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Time-series bucket duration, such as `1m`, `1h`, or `1d`. Defaults to `1d`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DE.AnalyticsData"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/endpoints/{id}/events": {
      "get": {
        "tags": [
          "EndpointService"
        ],
        "summary": "List endpoint events",
        "description": "Lists an endpoint's audit and lifecycle events newest first. The feed combines endpoint changes with provisioning, scaling, readiness, rollout, and other events from deployments under the endpoint.",
        "operationId": "EndpointService_ListEndpointEvents",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Project identifier.",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Endpoint identifier.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of events to return. Max 10000, defaults to 50."
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor from a previous endpoint event list response."
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Event types to include, such as `deployment.scaled` or `condition.set`. Combined with other filters using AND."
            }
          },
          {
            "name": "minLevel",
            "in": "query",
            "schema": {
              "enum": [
                "LEVEL_DEBUG",
                "LEVEL_INFO",
                "LEVEL_WARN",
                "LEVEL_ERROR"
              ],
              "type": "string",
              "description": "Minimum severity. Omit to disable severity filtering."
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only events at or after this time."
            }
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only events strictly before this time."
            }
          },
          {
            "name": "deploymentIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Deployment IDs whose events should be included. Every ID must belong to the endpoint. Supplying this filter excludes endpoint-scoped events unless `SOURCE_KIND_ENDPOINT` is also included in `sourceKinds`."
            }
          },
          {
            "name": "sourceKinds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "SOURCE_KIND_ENDPOINT",
                  "SOURCE_KIND_DEPLOYMENT"
                ],
                "type": "string"
              },
[...]
