{
  "openapi": "3.1.0",
  "info": {
    "title": "Together APIs",
    "description": "The Together REST API. See https://docs.together.ai for more details.",
    "version": "2.0.0",
    "termsOfService": "https://www.together.ai/terms-of-service",
    "contact": {
      "name": "Together Support",
      "url": "https://www.together.ai/contact"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/togethercomputer/openapi/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.together.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/deployments": {
      "get": {
        "description": "Get a list of all deployments in your project",
        "summary": "Get the list of deployments",
        "tags": [
          "Deployments"
        ],
        "responses": {
          "200": {
            "description": "List of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployments = client.beta.jig.list()\nprint(deployments)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments\n"
          }
        ]
      },
      "post": {
        "description": "Create a new deployment with specified configuration",
        "summary": "Create a new deployment",
        "tags": [
          "Deployments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          },
          "description": "Deployment configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deployment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.deploy(\n  name=\"my-deployment\",\n  gpu_type=\"h100-80gb\",\n  image=\"registry.together.ai/proj_abcdefg1234567890/my-image:latest\"\n)\nprint(deployment)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.ai/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.ai/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
          }
        ]
      }
    },
    "/deployments/{id}": {
      "delete": {
        "description": "Delete an existing deployment",
        "summary": "Delete a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment ID or name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.destroy(\"my-deployment\")\nprint(deployment)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
          }
        ]
      },
      "get": {
        "description": "Retrieve details of a specific deployment by its ID or name",
        "summary": "Get a deployment by ID or name",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment ID or name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponseItem"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.retrieve(\"my-deployment\")\nprint(deployment)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
          }
        ]
      },
      "patch": {
        "description": "Update an existing deployment configuration",
        "summary": "Update a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment ID or name",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeploymentRequest"
              }
            }
          },
          "description": "Updated deployment configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deployment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.update(\"my-deployment\", gpu_count=2)\nprint(deployment)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"gpu_count\": 2 }' \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
          }
        ]
      }
    },
    "/deployments/{id}/logs": {
      "get": {
        "description": "Retrieve logs from a deployment, optionally filtered by replica ID.",
        "summary": "Get logs for a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Deployment ID or name",
              "type": "string"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Replica ID to filter logs",
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "description": "Deployment image version (tag or last 4 characters of image digest) to filter logs",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "schema": {
              "description": "Deployment revision (UUID) to filter logs",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentLogs"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.logs(\"my-deployment\")\nprint(deployment)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment/logs\n"
          }
        ]
      }
    },
    "/deployments/secrets": {
      "get": {
        "description": "Retrieve all secrets in your project",
        "summary": "Get the list of project secrets",
        "tags": [
          "Secrets"
        ],
        "responses": {
          "200": {
            "description": "List of secrets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSecretsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nsecrets = client.beta.jig.secrets.list()\nprint(secrets)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
          }
        ]
      },
      "post": {
        "description": "Create a new secret to store sensitive configuration values",
        "summary": "Create a new secret",
        "tags": [
          "Secrets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecretRequest"
              }
            }
          },
          "description": "Secret configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.create(name=\"my-secret\", value=\"my-value\")\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-secret\", \"value\": \"my-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets\n"
          }
        ]
      }
    },
    "/deployments/secrets/{id}": {
      "delete": {
        "description": "Delete an existing secret",
        "summary": "Delete a secret",
        "tags": [
          "Secrets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Secret ID or name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.delete(\"my-secret\")\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
          }
        ]
      },
      "get": {
        "description": "Retrieve details of a specific secret by its ID or name",
        "summary": "Get a secret by ID or name",
        "tags": [
          "Secrets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Secret ID or name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseItem"
                }
              }
            }
          },
          "404": {
            "description": "Secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nsecret = client.beta.jig.secrets.retrieve(\"my-secret\")\nprint(secret)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
          }
        ]
      },
      "patch": {
        "description": "Update an existing secret's value or metadata",
        "summary": "Update a secret",
        "tags": [
          "Secrets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Secret ID or name",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecretRequest"
              }
            }
          },
          "description": "Updated secret configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.update(\"my-secret\", value=\"my-new-value\")\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"value\": \"my-new-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
          }
        ]
      }
    },
    "/deployments/storage/{filename}": {
      "get": {
        "description": "Download a file by redirecting to a signed URL",
        "summary": "Download a file",
        "tags": [
          "DeploymentsStorage"
        ],
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Filename",
              "type": "string"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to signed download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/storage/{filename}/url": {
      "get": {
        "description": "Create a signed URL for downloading a deployment storage file",
        "summary": "Get a file download URL",
        "tags": [
          "DeploymentsStorage"
        ],
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Filename",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedURLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/storage/volumes": {
      "get": {
        "description": "Retrieve all volumes in your project",
        "summary": "Get the list of project volumes",
        "tags": [
          "DeploymentsVolumes"
        ],
        "responses": {
          "200": {
            "description": "List of volumes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVolumesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.storage.volumes.list()\nprint(volumes)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
          }
        ]
      },
      "post": {
        "description": "Create a new volume to preload files in deployments",
        "summary": "Create a new volume",
        "tags": [
          "DeploymentsVolumes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVolumeRequest"
              }
            }
          },
          "description": "Volume configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Volume created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.volumes.create(name=\"my-volume\")\nprint(volumes)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-volume\" }' \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
          }
        ]
      }
    },
    "/deployments/storage/volumes/{id}": {
      "delete": {
        "description": "Delete an existing volume",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Volume ID or name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Volume not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "Delete a volume",
        "tags": [
          "Volumes"
        ]
      },
      "get": {
        "description": "Retrieve details of a specific volume by its ID or name",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Volume ID or name",
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "description": "Volume version to describe (defaults to current version)",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Volume not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "Get a volume by ID or name",
        "tags": [
          "Volumes"
        ]
      },
      "patch": {
        "description": "Update an existing volume's configuration or contents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Volume ID or name.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVolumeRequest"
              }
            }
          },
          "description": "Updated volume configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Volume updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponseItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Volume not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "Update a volume",
        "tags": [
          "Volumes"
        ]
      }
    },
    "/voices": {
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Fetch available voices for each model",
        "description": "Fetch available voices for each model",
        "operationId": "fetchVoices",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVoicesResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.voices.list()\n\nprint(response.data)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Create chat completion",
        "description": "Generate a model response for a given chat conversation. Supports single queries and multi-turn conversations with system, user, and assistant messages.",
        "operationId": "chat-completions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionStream"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "429": {
            "description": "RateLimit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "503": {
            "description": "Overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "504": {
            "description": "Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"Qwen/Qwen3.5-9B\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ],\n    reasoning={\"enabled\": False}\n)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"Qwen/Qwen3.5-9B\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n  reasoning: { enabled: false },\n});\n\nconsole.log(response.choices[0].message?.content);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"Qwen/Qwen3.5-9B\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n  reasoning: { enabled: false },\n});\n\nconsole.log(response.choices[0].message?.content);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/chat/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"Qwen/Qwen3.5-9B\",\n       \"messages\": [\n         {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n         {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"}\n       ],\n       \"reasoning\": {\"enabled\": false}\n     }'\n"
          }
        ]
      }
    },
    "/completions": {
      "post": {
        "tags": [
          "Completion"
        ],
        "summary": "Create completion",
        "description": "Generate text completions for a given prompt using a language, code, or image model.",
        "operationId": "completions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionStream"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "429": {
            "description": "RateLimit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "503": {
            "description": "Overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "504": {
            "description": "Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"Qwen/Qwen3.5-9B\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"Qwen/Qwen3.5-9B\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1,\n});\n\nconsole.log(response.choices[0].text);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"Qwen/Qwen3.5-9B\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"Qwen/Qwen3.5-9B\",\n       \"prompt\": \"The largest city in France is\",\n       \"max_tokens\": 1\n     }'\n"
          }
        ]
      }
    },
    "/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Create embedding",
        "description": "Generate vector embeddings for one or more text inputs. Returns numerical arrays representing semantic meaning, useful for search, classification, and retrieval.",
        "operationId": "embeddings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "429": {
            "description": "RateLimit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "503": {
            "description": "Overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "504": {
            "description": "Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/embeddings\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"BAAI/bge-large-en-v1.5\",\n       \"input\": \"New York City\"\n     }'\n"
          }
        ]
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List all models",
        "description": "Lists all of Together's open-source models and metadata including pricing, chat template, and context.",
        "operationId": "models",
        "parameters": [
          {
            "name": "dedicated",
            "in": "query",
            "schema": {
              "description": "Filter models to only return dedicated models",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelInfoList"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "429": {
            "description": "RateLimit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "504": {
            "description": "Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nmodels = client.models.list()\n\nfor model in models:\n    print(model.id)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.together.ai/v1/models\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Upload a custom model or adapter",
        "description": "Upload a custom model or adapter from Hugging Face or S3",
        "operationId": "uploadModel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model / adapter upload job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelUploadSuccessResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.models.upload(\n    model_name=\"My-Fine-Tuned-Model\",\n    model_source=\"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n)\n\nprint(response.data.job_id)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \"My-Fine-Tuned-Model\",\n  model_source: \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n})\n\nconsole.log(response);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \"My-Fine-Tuned-Model\",\n  model_source: \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n})\n\nconsole.log(response);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/models\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n        \"model_name\": \"My-Fine-Tuned-Model\",\n        \"model_source\": \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\"\n      }'\n"
          }
        ]
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job status",
        "description": "Get the status of a specific job",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "example": "job-a15dad11-8d8e-4007-97c5-a211304de284",
              "description": "The ID of the job to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobInfoSuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List all jobs",
        "description": "List all jobs and their statuses",
        "operationId": "listJobs",
        "responses": {
          "200": {
            "description": "Jobs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsInfoSuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Create image",
        "description": "Use an image model to generate an image for a given prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt",
                  "model"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A description of the desired images. Maximum length varies by model.",
                    "example": "cat floating in space, cinematic"
                  },
                  "model": {
                    "type": "string",
                    "description": "The model to use for image generation.<br> <br> [See all of Together AI's image models](https://docs.together.ai/docs/serverless-models#image-models)\n",
                    "example": "black-forest-labs/FLUX.1-schnell",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "black-forest-labs/FLUX.1-schnell-Free",
                          "black-forest-labs/FLUX.1-schnell",
                          "black-forest-labs/FLUX.1.1-pro"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "steps": {
                    "type": "integer",
                    "default": 20,
                    "description": "Number of generation steps."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of an image to use for image models that support it."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Seed used for generation. Can be used to reproduce image generations."
                  },
                  "n": {
                    "type": "integer",
                    "default": 1,
                    "description": "Number of image results to generate."
                  },
                  "height": {
                    "type": "integer",
                    "default": 1024,
                    "description": "Height of the image to generate in number of pixels."
                  },
                  "width": {
                    "type": "integer",
                    "default": 1024,
                    "description": "Width of the image to generate in number of pixels."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "The prompt or prompts not to guide the image generation."
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Format of the image response. Can be either a base64 string or a URL.",
                    "enum": [
                      "base64",
                      "url"
                    ]
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Adjusts the alignment of the generated image with the input prompt. Higher values (e.g., 8-10) make the output more faithful to the prompt, while lower values (e.g., 1-5) encourage more creative freedom.",
                    "default": 3.5
                  },
                  "output_format": {
                    "type": "string",
                    "description": "The format of the image response. Can be either be `jpeg` or `png`. Defaults to `jpeg`.",
                    "default": "jpeg",
                    "enum": [
                      "jpeg",
                      "png"
                    ]
                  },
                  "image_loras": {
                    "description": "An array of objects that define LoRAs (Low-Rank Adaptations) to influence the generated image.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path",
                        "scale"
                      ],
                      "properties": {
                        "path": {
                          "type": "string",
                          "description": "The URL of the LoRA to apply (e.g. https://huggingface.co/strangerzonehf/Flux-Midjourney-Mix2-LoRA)."
                        },
                        "scale": {
                          "type": "number",
                          "description": "The strength of the LoRA's influence. Most LoRA's recommend a value of 1."
                        }
                      }
                    }
                  },
                  "reference_images": {
                    "description": "An array of image URLs that guide the overall appearance and style of the generated image. These reference images influence the visual characteristics consistently across the generation.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "URL of a reference image to guide the image generation."
                    }
                  },
                  "disable_safety_checker": {
                    "type": "boolean",
                    "description": "If true, disables the safety checker for image generation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.images.generate(\n    model=\"black-forest-labs/FLUX.2-dev\",\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\",\n)\n\nprint(response.data[0].url)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \"black-forest-labs/FLUX.2-dev\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \"black-forest-labs/FLUX.2-dev\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/images/generations\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"black-forest-labs/FLUX.2-dev\",\n       \"prompt\": \"A cartoon of an astronaut riding a horse on the moon\"\n     }'\n"
          }
        ]
      }
    },
    "/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List all files",
        "description": "List the metadata for all uploaded data files.",
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.together.ai/v1/files\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
          }
        ]
      }
    },
    "/files/{id}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Retrieve file metadata",
        "description": "Retrieve the metadata for a single uploaded data file.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the file to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve(id=\"file-id\")\n\nprint(file)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.together.ai/v1/files/ID\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file",
        "description": "Delete a previously uploaded data file.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the file to delete",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDeleteResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.delete(id=\"file-id\")\n\nprint(response)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X \"DELETE\" \"https://api.together.ai/v1/files/file-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\"\n"
          }
        ]
      }
    },
    "/files/{id}/content": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file contents",
        "description": "Get the contents of a single uploaded data file.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the file to get the content of",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nwith client.files.with_streaming_response.content(id=\"file-id\") as response:\n  for line in response.iter_lines():\n    print(line)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.together.ai/v1/files/file-id/content\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file",
        "description": "Upload a file with specified purpose, file name, and file type.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "purpose",
                  "file_name",
                  "file"
                ],
                "properties": {
                  "purpose": {
                    "$ref": "#/components/schemas/FilePurpose"
                  },
                  "file_name": {
                    "type": "string",
                    "description": "The name of the file being uploaded",
                    "example": "dataset.csv"
                  },
                  "file_type": {
                    "$ref": "#/components/schemas/FileType"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The content of the file being uploaded"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \"data.jsonl\")\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.together.ai/v1/files/upload\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@/path/to/data.jsonl\" \\\n     -F \"file_name=data.jsonl\" \\\n     -F \"purpose=fine-tune\"\n"
          }
        ]
      }
    },
    "/fine-tunes": {
      "post": {
        "tags": [
          "Fine-tuning"
        ],
        "summary": "Create job",
        "description": "Create a fine-tuning job with the provided model and training data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "training_file",
                  "model"
                ],
                "properties": {
                  "training_file": {
                    "type": "string",
                    "description": "File-ID of a training file uploaded to the Together API"
                  },
                  "validation_file": {
                    "type": "string",
                    "description": "File-ID of a validation file uploaded to the Together API"
                  },
                  "packing": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to use sequence packing for training. This flag has no effect if the training data is in Parquet format."
                  },
                  "max_seq_length": {
                    "type": "integer",
                    "description": "Maximum sequence length to use for training. If not specified, the maximum allowed for the model and training method will be used."
                  },
                  "model": {
                    "type": "string",
                    "description": "Name of the base model to run fine-tune job on"
                  },
                  "n_epochs": {
                    "type": "integer",
                    "default": 1,
                    "description": "Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)"
                  },
                  "n_checkpoints": {
                    "type": "integer",
                    "default": 1,
                    "maximum": 10,
                    "description": "Number of intermediate model versions saved during training for evaluation"
                  },
                  "n_evals": {
                    "type": "integer",
                    "default": 0,
                    "description": "Number of evaluations to be run on a given validation set during training"
                  },
                  "batch_size": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "max"
                        ]
                      }
                    ],
                    "default": "max",
                    "description": "Number of training examples processed together (larger batches use more memory but may train faster). Defaults to \"max\". We use training optimizations like packing, so the effective batch size may be different than the value you set."
                  },
                  "gradient_accumulation_steps": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of steps to accumulate gradients before performing a weight update. If omitted or set to 0, the model default is used."
                  },
                  "learning_rate": {
                    "type": "number",
                    "default": 1e-05,
                    "description": "Controls how quickly the model adapts to new information (too high may cause instability, too low may slow convergence)"
                  },
                  "lr_scheduler": {
                    "type": "object",
                    "default": "none",
                    "$ref": "#/components/schemas/LRScheduler",
                    "description": "The learning rate scheduler to use. It specifies how the learning rate is adjusted during training."
                  },
                  "warmup_ratio": {
                    "type": "number",
                    "default": 0,
                    "description": "The percent of steps at the start of training to linearly increase the learning rate."
                  },
                  "max_grad_norm": {
                    "type": "number",
                    "default": 1,
                    "description": "Max gradient norm to be used for gradient clipping. Set to 0 to disable."
                  },
                  "weight_decay": {
                    "type": "number",
                    "default": 0,
                    "description": "Weight decay. Regularization parameter for the optimizer."
                  },
                  "random_seed": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Random seed for reproducible training. When set, the same seed produces the same run (e.g. data shuffle, init). If omitted or null, the server applies its default seed (e.g. 42).\n"
                  },
                  "early_stopping_enabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to stop training early when validation loss stops improving. Requires a validation_file, and n_evals must be at least early_stopping_patience + early_stopping_warmup_evals + 1 so a plateau can be detected.\n"
                  },
                  "early_stopping_patience": {
                    "type": "integer",
                    "default": 2,
                    "minimum": 1,
                    "description": "Number of consecutive evaluations with no improvement in validation loss to allow before stopping. Only applies when early_stopping_enabled is true.\n"
                  },
                  "early_stopping_min_delta": {
                    "type": "number",
                    "default": 0,
                    "minimum": 0,
                    "description": "Minimum decrease in validation loss for an evaluation to count as an improvement. Larger values treat small gains as non-improvements, causing training to stop sooner. Only applies when early_stopping_enabled is true.\n"
                  },
                  "early_stopping_warmup_evals": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Number of initial evaluations excluded from the early-stopping decision. These still establish the baseline validation loss but do not count toward patience. Set to 0 to disable warmup; if omitted, defaults to 1. Only applies when early_stopping_enabled is true.\n"
                  },
                  "suffix": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Suffix to add to your fine-tuned model name. Must be at most 64 characters long."
                  },
                  "wandb_api_key": {
                    "type": "string",
                    "description": "Integration key for tracking experiments and model metrics on W&B platform"
                  },
                  "wandb_base_url": {
                    "type": "string",
                    "description": "The base URL of a dedicated Weights & Biases instance."
                  },
                  "wandb_project_name": {
                    "type": "string",
                    "description": "The Weights & Biases project for your run. If not specified, uses `together` as the project name."
                  },
                  "wandb_name": {
                    "type": "string",
                    "description": "The Weights & Biases name for your run."
                  },
                  "wandb_entity": {
                    "type": "string",
                    "description": "The Weights & Biases entity for your run."
                  },
                  "train_on_inputs": {
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auto"
                        ]
                      }
                    ],
                    "default": "auto",
                    "description": "Whether to mask user messages in conversational data or prompts in instruction data.",
                    "deprecated": true
                  },
                  "training_method": {
                    "type": "object",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/TrainingMethodSFT"
                      },
                      {
                        "$ref": "#/components/schemas/TrainingMethodDPO"
                      }
                    ],
                    "description": "The training method to use. 'sft' for Supervised Fine-Tuning or 'dpo' for Direct Preference Optimization."
                  },
                  "training_type": {
                    "type": "object",
                    "default": null,
                    "nullable": true,
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/FullTrainingType"
                      },
                      {
                        "$ref": "#/components/schemas/LoRATrainingType"
                      }
                    ],
                    "description": "The training type to use. Defaults to LoRA if not provided."
                  },
                  "multimodal_params": {
                    "$ref": "#/components/schemas/MultimodalParams"
                  },
                  "from_checkpoint": {
                    "type": "string",
                    "description": "The checkpoint identifier to continue training from a previous fine-tuning job. Format is `{$JOB_ID}` or `{$OUTPUT_MODEL_NAME}` or `{$JOB_ID}:{$STEP}` or `{$OUTPUT_MODEL_NAME}:{$STEP}`. The step value is optional; without it, uses the final checkpoint."
                  },
                  "from_hf_model": {
                    "type": "string",
                    "description": "The Hugging Face Hub repo to start training from. Should be as close as possible to the base model (specified by the `model` argument) in terms of architecture and size."
                  },
                  "hf_model_revision": {
                    "type": "string",
                    "description": "The revision of the Hugging Face Hub model to continue training from. E.g., hf_model_revision=main (default, used if the argument is not provided) or hf_model_revision='607a30d783dfa663caf39e06633721c8d4cfcd7e' (specific commit)."
                  },
                  "hf_api_token": {
                    "type": "string",
                    "description": "The API token for the Hugging Face Hub."
                  },
                  "hf_output_repo_name": {
                    "type": "string",
                    "description": "The name of the Hugging Face repository to upload the fine-tuned model to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fine-tuning job initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinetuneResponseTruncated"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n    training_file=\"file-id\"\n)\n\nprint(response)\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.together.ai/v1/fine-tunes\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n       \"training_file\": \"file-id\"\n     }'\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Fine-tuning"
        ],
        "summary": "List all jobs",
        "description": "List the metadata for all fine-tuning jobs. Returns a list of FinetuneResponseTruncated objects.",
        "responses": {
          "200": {
            "description": "List of fine-tune jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinetuneTruncatedList"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Together AI SDK (Python)",
            "source": "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\"ID: {fine_tune.id}, Status: {fine_tune.status}\")\n"
          },
          {
            "lang": "TypeScript",
            "label": "Together AI SDK (TypeScript)",
            "source": "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"
          },
          {
            "lang": "JavaScript",
            "label": "Together AI SDK (JavaScript)",
[...]
