{
  "openapi": "3.1.0",
  "info": {
    "title": "Exa Public API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.exa.ai"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search",
        "description": "Perform a search with an Exa prompt-engineered query and retrieve a list of relevant results. Optionally get contents.",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.007",
            "max": "0.015"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "b5947044c4b78efa9552a7c89b306d95",
                  "results": [
                    {
                      "title": "A Comprehensive Overview of Large Language Models",
                      "url": "https://arxiv.org/pdf/2307.06435.pdf",
                      "publishedDate": "2023-11-16T01:36:32.547Z",
                      "author": "Humza  Naveed, University of Engineering and Technology (UET), Lahore, Pakistan",
                      "id": "https://arxiv.org/abs/2307.06435",
                      "image": "https://arxiv.org/pdf/2307.06435.pdf/page_1.png",
                      "favicon": "https://arxiv.org/favicon.ico",
                      "text": "Abstract Large Language Models (LLMs) have recently demonstrated remarkable capabilities...",
                      "highlights": [
                        "Such requirements have limited their adoption..."
                      ],
                      "summary": "This overview paper on Large Language Models (LLMs) highlights key developments..."
                    }
                  ],
                  "resolvedSearchType": "neural",
                  "costDollars": {
                    "total": 0.007,
                    "search": {
                      "neural": 0.007
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/SearchStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/contents": {
      "post": {
        "operationId": "getContents",
        "summary": "Contents",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.001",
            "max": "0.010"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "e492118ccdedcba5088bfc4357a8a125",
                  "results": [
                    {
                      "id": "https://arxiv.org/abs/2307.06435",
                      "title": "A Comprehensive Overview of Large Language Models",
                      "url": "https://arxiv.org/pdf/2307.06435.pdf",
                      "publishedDate": "2023-11-16T01:36:32.547Z",
                      "author": "Humza  Naveed, University of Engineering and Technology (UET), Lahore, Pakistan",
                      "text": "Abstract Large Language Models (LLMs) have recently demonstrated remarkable capabilities...",
                      "highlights": [
                        "Such requirements have limited their adoption..."
                      ],
                      "summary": "This overview paper on Large Language Models (LLMs) highlights key developments..."
                    }
                  ],
                  "statuses": [
                    {
                      "id": "https://arxiv.org/abs/2307.06435",
                      "status": "success",
                      "source": "cached"
                    }
                  ],
                  "costDollars": {
                    "total": 0.003
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/answer": {
      "post": {
        "operationId": "answer",
        "summary": "Answer",
        "description": "Performs a search based on the query and generates either a direct answer or a detailed summary with citations, depending on the query type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6",
                  "answer": "$350 billion.",
                  "citations": [
                    {
                      "id": "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees",
                      "url": "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees",
                      "title": "SpaceX valued at $350bn as company agrees to buy shares from ...",
                      "author": "Dan Milmo",
                      "publishedDate": "2024-12-11T00:00:00.000Z",
                      "text": "SpaceX valued at $350bn as company agrees to buy shares from ..."
                    }
                  ],
                  "costDollars": {
                    "total": 0.005
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AnswerResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/findSimilar": {
      "post": {
        "operationId": "findSimilar",
        "summary": "Find similar links",
        "description": "Find links similar to the provided URL and optionally retrieve their contents. Deprecated: prefer `/search` with a query describing the source.",
        "x-exa-lifecycle": "deprecated",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindSimilarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Deprecation": {
                "description": "Signals that this operation is deprecated.",
                "schema": {
                  "type": "string"
                },
                "example": "true"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindSimilarResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors": {
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a Monitor",
        "description": "Creates a new Monitor to run recurring Exa searches on a schedule.\n\nMonitors automatically execute your search query on a recurring schedule and deliver results to your webhook endpoint with automatic deduplication:\n\n- **Date-based filtering** only fetches content since the last run\n\n- **Semantic deduplication** tracks previous outputs to surface only new developments\n\nThe response includes a `webhookSecret` that is only returned once at creation time. Store it securely for webhook signature verification.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor with webhook secret",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listMonitors",
        "summary": "List Monitors",
        "description": "Lists all monitors for the authenticated team. Supports filtering by status and cursor-based pagination.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "disabled"
              ],
              "description": "Filter monitors by status"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "maxLength": 250,
              "description": "Filter monitors by name (case-insensitive substring match)"
            }
          },
          {
            "in": "query",
            "name": "metadata",
            "schema": {
              "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`.",
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject",
            "explode": true,
            "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of monitors",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/batch": {
      "post": {
        "operationId": "batchMonitors",
        "summary": "Batch Action on Monitors",
        "description": "Perform a batch action on monitors matching the provided filters.\n\nSupported actions:\n- **delete**: Permanently remove matching monitors\n- **pause**: Pause matching monitors\n- **unpause**: Unpause matching monitors\n\nUse `dry_run: true` (the default) to preview which monitors would be affected before performing the action. Results are paginated via the `limit` parameter; loop until `has_more` is `false` to process all matching monitors.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchMonitorsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch action result",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a Monitor",
        "description": "Retrieves a single monitor by its ID.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update a Monitor",
        "description": "Updates an existing monitor. All fields are optional. For `search`, you can send a partial object containing only the fields you want to change. Set `trigger` to `null` to remove the schedule.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a Monitor",
        "description": "Deletes a monitor. This cannot be undone.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/trigger": {
      "post": {
        "operationId": "triggerMonitor",
        "summary": "Trigger a Monitor",
        "description": "Triggers a run immediately, regardless of the schedule. Works for monitors with status `active` or `paused`.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Whether the monitor was triggered",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List Runs",
        "description": "Lists all runs for a monitor with cursor-based pagination. Runs are returned in reverse chronological order.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorRunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a Run",
        "description": "Retrieves a single run by its ID, including the full output if the run is completed.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "path",
            "name": "runId",
            "schema": {
              "type": "string",
              "description": "The run ID"
            },
            "required": true,
            "description": "The run ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitorRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/agent/runs": {
      "post": {
        "operationId": "createAgentRun",
        "summary": "Create a run",
        "description": "Create an asynchronous Agent run. By default, the API returns the run object immediately. Set `Accept: text/event-stream` to stream run lifecycle events until the run reaches a terminal status.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ExaBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRunRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Simple research run",
                  "value": {
                    "query": "What are the most important AI infrastructure funding rounds announced this week?"
                  }
                },
                "structuredOutput": {
                  "summary": "Structured output",
                  "value": {
                    "query": "Find recent Series A or Series B AI infrastructure funding rounds.",
                    "outputSchema": {
                      "type": "object",
                      "required": [
                        "companies"
                      ],
                      "properties": {
                        "companies": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "round",
                              "amount",
                              "sourceUrl"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "round": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "sourceUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "inputRows": {
                  "summary": "Process input rows",
                  "value": {
                    "query": "For each company, find one current executive and cite a source.",
                    "input": {
                      "data": [
                        {
                          "company": "Apple",
                          "domain": "apple.com"
                        },
                        {
                          "company": "Microsoft",
                          "domain": "microsoft.com"
                        }
                      ],
                      "exclusion": [
                        {
                          "company": "Apple",
                          "person": "Tim Cook"
                        }
                      ]
                    }
                  }
                },
                "contactFields": {
                  "summary": "Contact fields in structured output",
                  "value": {
                    "query": "Find engineering leaders at AI infrastructure companies that raised a Series A or B in the last 6 months.",
                    "effort": "auto",
                    "outputSchema": {
                      "type": "object",
                      "required": [
                        "people"
                      ],
                      "properties": {
                        "people": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "linkedin_url"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "contact_email": {
                                "type": "string",
                                "format": "email"
                              },
                              "linkedin_url": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "dataSources": {
                  "summary": "Connect data sources",
                  "value": {
                    "query": "Find 10 fast-growing B2B SaaS companies and their estimated web traffic.",
                    "dataSources": [
                      {
                        "provider": "similarweb"
                      }
                    ],
                    "outputSchema": {
                      "type": "object",
                      "required": [
                        "companies"
                      ],
                      "properties": {
                        "companies": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "domain",
                              "monthlyVisits"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "monthlyVisits": {
                                "type": "number",
                                "description": "from Similarweb"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent run created",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                },
                "examples": {
                  "running": {
                    "summary": "Run accepted",
                    "value": {
                      "id": "agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8",
                      "object": "agent_run",
                      "status": "running",
                      "stopReason": null,
                      "createdAt": "2026-05-07T18:31:00.000Z",
                      "completedAt": null,
                      "request": {
                        "query": "What are the most important AI infrastructure funding rounds announced this week?"
                      },
                      "output": {
                        "text": "",
                        "structured": null,
                        "grounding": []
                      },
                      "usage": {
                        "agentComputeUnits": 0,
                        "searches": 0,
                        "emails": 0,
                        "phoneNumbers": 0
                      },
                      "costDollars": {
                        "total": 0,
                        "agentCompute": 0,
                        "search": 0,
                        "emails": 0,
                        "phoneNumbers": 0
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                },
                "examples": {
                  "lifecycle": {
                    "summary": "Run lifecycle events",
                    "value": "id: 1\nevent: agent_run.created\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"queued\",\"createdAt\":\"2026-05-07T21:21:52.051Z\"}\n\nid: 2\nevent: agent_run.started\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"running\"}\n\nid: 3\nevent: agent_run.completed\ndata: {\"id\":\"agent_run_01j...\",\"object\":\"agent_run\",\"status\":\"completed\"}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAgentRuns",
        "summary": "List runs",
        "description": "List Agent runs for your team, ordered from newest to oldest.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous run list response.",
              "$ref": "#/components/schemas/AgentRunId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Agent runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}": {
      "get": {
        "operationId": "getAgentRun",
        "summary": "Get a run",
        "description": "Retrieve a single Agent run by ID.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgentRun",
        "summary": "Delete a run",
        "description": "Delete a stored Agent run.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run deleted",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAgentRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/cancel": {
      "post": {
        "operationId": "cancelAgentRun",
        "summary": "Cancel a run",
        "description": "Cancel a queued or running Agent run immediately without returning any results. You are billed for usage accrued before cancellation. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/stop": {
      "post": {
        "operationId": "stopAgentRun",
        "summary": "Stop a run",
        "description": "Complete a running Agent run early, returning the results gathered so far. You are billed for usage accrued before the stop. Currently supported only for `max` effort runs and requires the `Exa-Beta: agent-max-effort-2026-07-27` header. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          },
          {
            "$ref": "#/components/parameters/ExaBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/events": {
      "get": {
        "operationId": "listAgentRunEvents",
        "summary": "List run events",
        "description": "List stored events for an Agent run. Set `Accept: text/event-stream` to replay stored events as server-sent events. Use `cursor` for JSON pagination or `Last-Event-ID` for SSE replay.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous event list response."
            }
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/LastEventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run events",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEventList"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                },
                "examples": {
                  "replay": {
                    "summary": "Replayed run events",
                    "value": "id: 2\nevent: agent_run.started\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"running\"}\n\nid: 3\nevent: agent_run.completed\ndata: {\"id\":\"agent_run_01j...\",\"object\":\"agent_run\",\"status\":\"completed\"}\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Create a batch of requests to run asynchronously. Each request is dispatched to its target route and results are made available for download when the batch completes.",
        "tags": [
          "Batches"
        ],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              },
              "examples": {
                "searchBatch": {
                  "summary": "Batch of search and agent-run requests",
                  "value": {
                    "requests": [
                      {
                        "customId": "row-1",
                        "method": "POST",
                        "url": "/search",
                        "body": {
                          "query": "Latest AI infrastructure funding rounds"
                        }
                      },
                      {
                        "customId": "row-2",
                        "method": "POST",
                        "url": "/agent/runs",
                        "body": {
                          "query": "Summarize this week's vector database launches"
                        }
                      }
                    ],
                    "metadata": {
                      "project": "weekly-digest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "in_progress",
                  "requestCounts": {
                    "total": 2,
                    "completed": 0,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": null,
                  "resultsUrl": null,
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "description": "List batches for your team, ordered from newest to oldest.",
        "tags": [
          "Batches"
        ],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of batches to return per page. Defaults to 100 when omitted; there is no upper bound.",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "const": "completed",
              "description": "Filter the listing to completed batches. `completed` is the only supported value; any other value returns a 400. Completed listings are ordered by expiry and use a distinct cursor, so keep sending `status=completed` on every cursor-paginated request."
            }
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                      "object": "batch",
                      "status": "completed",
                      "requestCounts": {
                        "total": 2,
                        "completed": 2,
                        "failed": 0
                      },
                      "createdAt": "2026-06-06T12:00:00.000Z",
                      "expiresAt": "2026-06-13T12:00:00.000Z",
                      "endedAt": "2026-06-06T12:01:30.000Z",
                      "resultsUrl": "https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE",
                      "metadata": {
                        "project": "weekly-digest"
                      }
                    }
                  ],
                  "hasMore": false,
                  "nextCursor": null
                },
                "schema": {
                  "$ref": "#/components/schemas/BatchList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}": {
      "get": {
        "operationId": "getBatch",
        "summary": "Get a batch",
        "description": "Retrieve a single batch by ID.",
        "tags": [
          "Batches"
        ],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "completed",
                  "requestCounts": {
                    "total": 2,
                    "completed": 2,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": "2026-06-06T12:01:30.000Z",
                  "resultsUrl": "https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE",
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteBatch",
        "summary": "Delete a batch",
        "description": "Soft-delete a batch in a terminal status.",
        "tags": [
          "Batches"
        ],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch.deleted",
                  "deleted": true
                },
                "schema": {
                  "$ref": "#/components/schemas/DeletedBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}/cancel": {
      "post": {
        "operationId": "cancelBatch",
        "summary": "Cancel a batch",
        "description": "Request cancellation of a batch. The batch stops scheduling new requests and drains in-flight work before settling to `cancelled`. Cancelling a batch that is already `cancelling` or `cancelled` is idempotent and returns the batch unchanged. A batch that has already reached a terminal status (`completed` or `expired`) cannot be cancelled and the request fails with a 409.",
        "tags": [
          "Batches"
        ],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "cancelling",
                  "requestCounts": {
                    "total": 2,
                    "completed": 0,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": null,
                  "resultsUrl": null,
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "includeDomains": {
            "anyOf": [
              {
                "maxItems": 1200,
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of domains or domain paths to include in the search. Each entry can be a hostname (for example, `example.com`), a hostname with a path prefix (for example, `example.com/docs`), or a wildcard subdomain (for example, `*.example.com`). If specified, results will only come from the matching domains or paths. Use this parameter for domain or path filtering instead of adding a `site:` operator to the query.",
                "example": [
                  "arxiv.org",
                  "exa.ai/blog"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "excludeDomains": {
            "anyOf": [
              {
                "maxItems": 1200,
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of domains or domain paths to exclude from search results. Each entry can be a hostname (for example, `example.com`), a hostname with a path prefix (for example, `example.com/docs`), or a wildcard subdomain (for example, `*.example.com`). If specified, no results will be returned from the matching domains or paths. Use this parameter for domain or path filtering instead of adding a `site:` operator to the query.",
                "example": [
                  "docs.python.org/3"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "startCrawlDate": {
            "anyOf": [
              {
                "type": "string",
                "description": "Deprecated and has no effect; ignored by the API. Must be specified in ISO 8601 format.",
                "example": "2023-01-01T00:00:00.000Z",
                "format": "date-time",
                "deprecated": true
              },
              {
                "type": "null"
              }
            ]
          },
          "endCrawlDate": {
            "anyOf": [
              {
                "type": "string",
                "description": "Deprecated and has no effect; ignored by the API. Must be specified in ISO 8601 format.",
                "example": "2023-12-31T00:00:00.000Z",
                "format": "date-time",
                "deprecated": true
              },
              {
                "type": "null"
              }
            ]
          },
          "startPublishedDate": {
            "anyOf": [
              {
                "type": "string",
                "description": "Only links with a published date after this will be returned. Must be specified in ISO 8601 format.",
                "example": "2023-01-01T00:00:00.000Z",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endPublishedDate": {
            "anyOf": [
              {
                "type": "string",
                "description": "Only links with a published date before this will be returned. Must be specified in ISO 8601 format.",
                "example": "2023-12-31T00:00:00.000Z",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "numResults": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "description": "Number of results to return. Limits vary by search type. The maximum public limit is 100 results. Contact sales (hello@exa.ai) to discuss higher limits.",
                "example": 10,
                "default": 10
              },
              {
                "type": "null"
              }
            ]
          },
          "context": {
            "anyOf": [
              {
                "description": "Deprecated: Use highlights or text instead. Returns page contents as a combined context string.",
                "deprecated": true,
                "oneOf": [
                  {
                    "type": "boolean",
                    "description": "Deprecated: Use highlights or text instead. Returns page contents as a combined context string.",
                    "example": true,
                    "deprecated": true
                  },
                  {
                    "type": "object",
                    "properties": {
                      "maxCharacters": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000,
                        "description": "Deprecated. Maximum character limit for the context string. Maximum supported value is 10000.",
                        "example": 10000
                      }
                    },
                    "description": "Deprecated: Use highlights or text instead. Returns page contents as a combined context string.",
                    "deprecated": true
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "moderation": {
            "anyOf": [
              {
                "type": "boolean",
                "description": "Enable content moderation to filter unsafe content from search results.",
                "example": true,
                "default": false
              },
              {
                "type": "null"
              }
            ]
          },
          "contents": {
            "anyOf": [
              {
                "description": "Content options for text, highlights, summary, extras, and freshness controls.",
                "$ref": "#/components/schemas/ContentsOptions"
              },
              {
                "type": "null"
              }
            ]
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "The query string for the search.",
            "example": "Latest developments in LLM capabilities"
          },
          "additionalQueries": {
            "anyOf": [
              {
                "minItems": 1,
                "maxItems": 10,
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Additional query variations for deep-search variants. Only works with a deep-search type. When provided, these queries are used alongside the main query for broader results.",
                "example": [
                  "LLM advancements",
                  "large language model progress"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "instant",
                  "fast",
                  "auto",
                  "deep-lite",
                  "deep",
                  "deep-reasoning"
                ],
                "description": "The search mode to use. `auto` (default) is a balanced mode that optimizes for both quality and speed and is recommended for most applications. `fast` returns high-quality results with reduced latency, making it a good fit for user-facing search and interactive workflows. `instant` is optimized for minimum response time, trading some search depth for speed in real-time experiences such as chat, voice agents, and autocomplete. `deep-lite` performs lightweight research with synthesized results and a consistent 4-second latency, lower than full deep search. `deep` conducts comprehensive multi-step research with synthesis, while `deep-reasoning` adds stronger reasoning for complex analysis and decision-making tasks.",
                "example": "auto",
                "default": "auto"
              },
              {
                "type": "null"
              }
            ]
          },
          "category": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "company",
                  "publication",
                  "news",
                  "personal site",
                  "financial report",
                  "people"
                ],
                "description": "A data category to focus on. Known categories include `company`, `publication`, `news`, `personal site`, `financial report`, and `people`. Other strings are accepted and used as category hints for search. The `people` and `company` categories have improved quality for finding people profiles and company pages. The `publication` category surfaces scholarly publications such as research papers, preprints, and journal articles, with structured metadata like authors, venue, and citations. Note: The `company` and `people` categories only support a limited set of filters. The following parameters are NOT supported for these categories: `startPublishedDate`, `endPublishedDate`, `excludeDomains`. Using unsupported parameters will result in a 400 error.",
                "example": "publication"
              },
              {
                "type": "null"
              }
            ]
          },
          "userLocation": {
            "anyOf": [
              {
                "type": "string",
                "description": "The two-letter ISO country code of the user, e.g. US.",
                "example": "US"
              },
              {
                "type": "null"
              }
            ]
          },
          "compliance": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "hipaa"
                ],
                "description": "Enterprise-only compliance mode. Set to `hipaa` for HIPAA mode. Requires cache-only retrieval with supported parameters. See the HIPAA docs for details.",
                "example": "hipaa"
              },
              {
                "type": "null"
              }
            ]
          },
          "outputSchema": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "text"
                      },
                      "description": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "object"
                      },
                      "description": {
                        "type": "string"
                      },
                      "properties": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "$ref": "#/components/schemas/JsonValue"
                        }
                      },
                      "required": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": {
                      "$ref": "#/components/schemas/JsonValue"
                    }
                  }
                ],
                "description": "JSON schema for synthesized output. Supported root types are \"text\" and \"object\". When provided, the response includes an output object whose content matches this schema. Works with every search type and adds about 2 seconds of synthesis latency on top of the selected search type.",
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string",
                "description": "Additional instructions that guide generated output or agent behavior. Use this for source preferences, novelty constraints, duplication constraints, or other behavior guidance.",
                "example": "Prefer official sources and avoid duplicate results."
              },
              {
                "type": "null"
              }
            ]
          },
          "stream": {
            "anyOf": [
              {
                "type": "boolean",
                "description": "Requests server-sent events for synthesized output streaming. Streaming is currently used only when outputSchema is provided; otherwise the endpoint returns the normal JSON search response.",
                "default": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "query"
        ]
      },
      "JsonValue": {
        "description": "Any JSON value.",
        "oneOf": [
          {
            "type": "null"
          },
          {
            "type": "boolean"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonValue"
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonValue"
            }
          }
        ]
      },
      "ContentsOptions": {
        "type": "object",
        "properties": {
          "text": {
            "anyOf": [
              {
                "description": "Text extraction options for each result.",
                "oneOf": [
                  {
                    "type": "boolean",
                    "title": "Simple text retrieval",
                    "description": "If true, returns full page text with default settings. If false, disables text return.",
                    "default": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "maxCharacters": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 10000,
                            "description": "Maximum character limit for the full page text. Useful for controlling response size and API costs. Maximum supported value is 10000.",
                            "example": 1000
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "includeHtmlTags": {
                        "anyOf": [
                          {
                            "type": "boolean",
                            "description": "If true, include lightweight HTML tags in returned text instead of plain markdown-style text. Use maxAgeHours: 0 when you need this applied to freshly fetched content.",
                            "example": false,
                            "default": false
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "verbosity": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "compact",
                              "standard",
                              "full"
                            ],
                            "description": "Controls text rendering verbosity. compact focuses on main content, standard includes more surrounding page context, and full requests the most complete rendered text. Some pages may produce identical standard and full output. Use maxAgeHours: 0 when you need this applied to freshly fetched content.",
                            "example": "standard",
                            "default": "compact"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "includeSections": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "header",
                                "navigation",
                                "banner",
                                "body",
                                "sidebar",
                                "footer",
                                "metadata"
                              ]
                            },
                            "description": "Best-effort. Only include content classified into these semantic page sections. Section classification may be unavailable or incomplete for some pages; validate output if strict filtering is required. Use maxAgeHours: 0 when you need this applied to freshly fetched content.",
                            "example": [
                              "body",
                              "header"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "excludeSections": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "header",
                                "navigation",
                                "banner",
                                "body",
                                "sidebar",
                                "footer",
                                "metadata"
                              ]
                            },
                            "description": "Exclude content classified into these semantic page sections. Section classification is best-effort. Use maxAgeHours: 0 when you need this applied to freshly fetched content.",
                            "example": [
                              "navigation",
                              "footer",
                              "sidebar"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "title": "Advanced text options",
                    "description": "Advanced options for controlling text extraction. Use this when you need to limit text length or include HTML structure."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "highlights": {
            "anyOf": [
              {
                "description": "Text snippets the LLM identifies as most relevant from each page.",
                "oneOf": [
                  {
                    "type": "boolean",
                    "title": "Simple highlights retrieval",
                    "description": "If true, returns highlights with default settings. If false, disables highlights.",
                    "default": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "query": {
                        "anyOf": [
                          {
                            "type": "string",
                            "description": "Custom query that guides which highlights the LLM picks.",
                            "example": "Key advancements"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "verbosity": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "low",
                              "medium",
                              "high"
                            ],
                            "description": "Preset highlight length: `low`, `medium`, and `high` allocate progressively larger token budgets for the returned highlights. With highlights.dynamic, the preset sets a single shared budget across the whole result set instead of a per-URL budget. Exact budgets are tuned by Exa and may change. Not compatible with maxCharacters or numSentences. Beta: requires the `Exa-Beta: dynamic-highlights-2026-08-28` request header; requests setting `verbosity` without it are rejected.",
                            "example": "medium",
                            "x-exa-lifecycle": "beta",
                            "x-exa-beta-flag": "dynamic-highlights-2026-08-28",
                            "x-mint": {
                              "post": [
                                "Beta"
                              ]
                            }
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "dynamic": {
                        "anyOf": [
                          {
                            "type": "boolean",
                            "description": "Enable Dynamic Highlights (research preview): considers all results together and allocates a single shared context budget across the result set instead of a per-document budget. Not compatible with maxCharacters. Beta: requires the `Exa-Beta: dynamic-highlights-2026-08-28` request header; requests setting `dynamic` without it are rejected.",
                            "example": true,
                            "x-exa-lifecycle": "beta",
                            "x-exa-beta-flag": "dynamic-highlights-2026-08-28",
                            "x-mint": {
                              "post": [
                                "Beta"
                              ]
                            }
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "maxCharacters": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 10000,
                            "description": "Maximum number of characters to return for highlights. Controls the total length of highlight text returned per URL. Maximum supported value is 10000. Not compatible with highlights.dynamic.",
                            "example": 2000
[...]
