/** @mainpage Qore astparser Module

    @tableofcontents

    @section astparserintro astparser Module Introduction

    The \c astparser module supports reporting of %Qore-language declarations for rich language support in
    %Qore code editors.

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for
    more information).  The module is tagged as such in the module's header (meaning it can be loaded
    unconditionally regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires astparser @endcode

    Classes provided by this module:
    - @ref astparser::AstParser "AstParser"
    - @ref astparser::AstTree "AstTree"
    - @ref astparser::AstTreeSearcher "AstTreeSearcher"

    @section astparserreleasenotes astparser Module Release Notes

    @subsection astparser_0_9 astparser Module Version 0.9
    - initial public release
*/
