body
{
    font-family: verdana, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 1em;
}

div.revhistory { display: none; }

.programlisting
{
    font-family:monospace;
    white-space: pre;
    background-color: #ffffcc;
    color: #000000;
    border-color: #009999;
    border-left: solid #009999 1px;
    border-right: solid #009999 1px;
    border-top: solid #009999 1px;
    border-bottom: solid #009999 1px;
    
    padding-left: 15pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.code
{
        font-family: monospace;
        font-size: 10pt;
        white-space: pre;
        background-color: #ffffcc;
        padding: 0 0.4em 0 0.4em;
}

/* allow wrapping of the code in tables/para. Programlisting is left untouched. */
p code.code {
        white-space: pre-wrap;
}

.command {
        font-family: monospace;
        font-size: 10pt;
        font-weight: bold;
        color: navy;
}

span.term {
        font-weight: bold;
}

a {
        text-decoration: underline;
}

h1
{
        color: #ffffff;
        border: solid 3px #a0a0d0;
        background-color: #609060;
        font-variant: small-caps;
        width: 100%;
}

.title a {
        color: #ffffff; 
        text-decoration: none;
}

.title a:active {
        color: #ffffff; 
        text-decoration: none;
}

.title a:visited {
        color: #ffffff; 
        text-decoration: none;
}

h2
{       
        COLOR: #ffffff ;
        font-style: italic;
        background-color: #a0d0a0;
        BORDER: solid 3px #609060;
        PADDING: 1px
}

h3 {
}

.important
{
        font-style:italic;
        border: solid 2px #ff0000;
        margin: 1em 15% 1em 15%;
        padding: 0 1em 0 1em;
}
.caution
{
        font-style:italic;
        border: ridge 2px #ffff00;
        margin: 1em 15% 1em 15%;
        padding: 0 1em 0 1em;
}
.note
{
        font-style:italic;
        border: solid 1px #000000;
        margin: 1em 15% 1em 15%;
        padding: 0 1em 0 1em;
}
.tip
{
        font-style:italic;
        border: solid 1px #000000;
        margin: 1em 15% 1em 15%;
        padding: 0 1em 0 1em;
}
.warning
{
        font-style:italic;
        font-weight: bold;
        border: ridge 4px #ff0000;
        margin: 1em 15% 1em 15%;
        padding: 0 1em 0 1em;
}

.variablelist {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        padding-left: 20px;
}

.varlistentry {
        font-weight: bold;
        margin-top: 10px;
        COLOR: #ffffff ;
        BACKGROUND-color: #a0a0d0;
        BORDER: solid 1px #609060;
        PADDING: 1px
}

.table {
        margin: 0 1em 0 1em;
}
.table table, .table tr, .table th, .table td {
        border: 1px solid black;
        border-collapse: collapse;
}
.table th, .table td {
        vertical-align: top;
}
.table th {
        font-weight: bold;
        background-color: #a0d0a0;
}
.table th p { margin: 0.4em; }
.table td p { margin: 0.4em; }  

/*
 * See http://diveintoaccessibility.org/day_26_using_relative_font_sizes.html
 * for an explanation of the following few commands.
 * They are really too complicated to explain here in all depth. ;-)
*/

P {
        font-size: 12px;
}

/*/*/A{}
BODY P {
        font-size: x-small;
        voice-family: "\"}\"";
        voice-family: inherit;
        font-size: small;
}

HTML>BODY P {
        font-size: small;
}
/* */

/* Add an external-link icon to absolute links */
a[href^="http:"] {
        background: url(img/remote.gif) right center no-repeat;
        padding-right: 12px;
}

a[href^="http:"]:hover {
        background: url(img/remote_a.gif) right center no-repeat;
}

/* Add a note icon to footnote links */
a[href^="#FTN"] {
        background: url(img/qbullet-note.gif) right center no-repeat;
        padding-right: 12px;
}

a[href^="#FTN"]:hover {
        background: url(img/qbullet-note_a.gif) right center no-repeat;
}

/* ...and a back icon to the backlinks in the footnotes themselves */
a[name^="FTN"] {
        background: url(img/scrollup.gif) right center no-repeat;
        padding-right: 12px;
}

a[name^="FTN"]:hover {
        background: url(img/scrollup_a.gif) right center no-repeat;
}

/* Add a download icon to .gz links */
a[href$=".gz"],a[href$=".tar"],a[href$=".zip"] {
        background: url(img/disk.gif) right center no-repeat;
        padding-right: 12px;
}


/* Add an Acrobat Reader icon to PDF links */
a[href$=".pdf"] {
        background: url(img/acrobat.gif) right center no-repeat;
        padding-right: 12px;
}

a[href$=".pdf"]:hover {
        background: url(img/acrobat_a.gif) right center no-repeat;
}

/* Add a Word icon to RTF links */
a[href$=".rtf"] {
        background: url(img/word.gif) right center no-repeat;
        padding-right: 12px;
}


/* ...or to the translation links on each page */
div.translatelink > a[href^="http:"] {
        background: transparent;
        padding-right: 0px;
}

div.translatelink > a[href^="http:"]:hover {
        background: transparent;
}

/* ...or to any images  */
div.imagelink  a[href^="http:"] {
        background: transparent;
        padding-right: 0px;
}

div.imagelink  a[href^="http:"]:hover {
        background: transparent;
}


.navfooter, .navheader {
        margin: -1em -1em -1em -1em;
        background-color: ##a0d0a0;
        border: thin solid #a0a0d0;
        border-width: 1px 0 1px 0;
}
.navheader {
        margin-bottom: 1em;
}
.navheader hr {
        display: none;
}
.navheader table, .navheader tr, .navheader th, .navheader td {
        border: 0 0 0 0;
}
.navfooter {
        margin-top: 1em;
}
.navfooter hr {
        display: none;
}
.navfooter table, .navfooter tr, .navfooter th, .navfooter td {
        border: 0 0 0 0;
}

.sect1, .sect2, .sect3 {
       margin-left: .5em;
}

.example, .toc {
        border: thin dotted #70AAE5;
        padding-left: 1em;
        padding-right: 1em;
        color: #000000;
        background-color: #EFF8F8;
}

.toc {
        margin-left: 2em;
        margin-right: 2em;
}

ul  {
        list-style: url("img/tux-bullet.png") disc;
    }
	
