/*
 * basic html tags are handled at first. Its docbook tuning is done later
 */

body{
    margin:0 auto 0 0;
    font-family: sans-serif;
    font-size:10pt;
    max-width:50em;
    padding:0em 2em;
    color:#333;
    line-height:150%;
}

/* Links ****************************************************************/
a:link {
    color:#0066cc;
    text-decoration: none;
    border: 1px dotted #0066cc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
a:visited {
    color:#6699cc;
    border: 1px dotted #6699cc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
a:hover {
    color: navy;
    text-decoration: none;
}


/* headings *************************************************************/
h1, h2, h3, h4, h5, h6 {
    color:#4a5d75;
    line-height:130%;
    margin-top:0em;
    font-family: sans-serif;
}

h1 { 
    border-top:1px dotted #CCCCCC;
    line-height:1.2em;
    font-size: 4em;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}

h2 {
    font-size:1.6em;
}

h3 {
    font-size:1.3em;
    padding-top:0em;
    padding-bottom:0em;
}

h4 {
    font-size:1.1em;
    padding-top:0em;
    padding-bottom:0em;
}

/* rules **************************************************/
hr {
    border-collapse: collapse;
    border-style:none;
    border-top: 1px dotted #ccc;
    width:100% !important;
}

/* Lists **************************************************/
ol li ,ul li {
    padding-left:.2em;
    padding-bottom:.5em;
    margin:0em;
}

dt {
    font-weight:bold;
    margin-bottom: 0em;
    padding-bottom: 0em;
}
dd {
    margin: 0em;
    margin-left: 2em;
    padding-top: 0em;
}

/* Tables ***********************************************/
.table {
    margin: 0 0em 0 0em;
}
.table table, .table tr, .table th, .table td {
    border: 1px solid black;
    border-collapse: collapse;
}
.table th, .table td {
    vertical-align: top;
}
.table th {
    font-weight: bold;
    color: white;
    background-color: #4A5D75;
}
.table th p { margin: 0.4em; }
.table td p { margin: 0.4em; } 

/*
 * Docbook elements start here
 */

div.revhistory { display: none; }

/* Notifications - note, warning, etc. *****************/
div.note, div.tip, div.important, div.caution, div.warning {
    background: #849092;
    color:white;
    padding:1em;
    padding-bottom:20px;
    padding-left: 90px;
    border:1px solid #8a9195;
    margin: 0;
    margin-top:.5em;
    margin-bottom:1.5em;
    background-repeat:no-repeat;
    background-position:10px 10px;
}
div.note h3, div.tip h3, div.important h3, div.caution h3, div.warning h3 {
    height:32px;
    font-size:1.3em;
    color:white;
}
div.note a:visited, div.tip a:visited, div.important a:visited, div.caution a:visited,
div.warning a, div.note a, div.tip a, div.important a, div.caution a, div.warning a {
    color:#f7f2d0;
}
div.note {background-image:url(img/note.png);}
div.tip {background-image:url(img/tip.png);}
div.important {background-image:url(img/important.png);}
div.caution {background-image:url(img/warning.png);}
div.warning {background-image:url(img/warning.png);}

div.note code, div.tip code, div.important code, div.caution code, div.warning code { background-color: gray; }
div.note .programlisting, div.tip .programlisting, div.important .programlisting, div.caution .programlisting, div.warning .programlisting { background-color: gray; }

div.note, div.tip, div.important, div.caution, div.warning {-moz-border-radius:11px;}

/* Navigation - the top and bottom prev/next/up/home table *************/

.navheader { padding-top: 35px; }

.navheader table {border-style:none}
.navheader a {text-decoration:none;font-weight:normal;font-size:.8em;}

.navheader a:link, .navheader a:visited {color:#666 !important;}
.navheader a:hover,.navheader a:focus, .navheader a:active{color:black !important;}
.navheader a{max-width: 10em;overflow:hidden;}
.navheader a:link {text-decoration:none;}

.navfooter table {border-style:none}
.navfooter a {text-decoration:none;font-weight:normal;font-size:.8em;}

.navfooter a:link, .navfooter a:visited {color:#666 !important;}
.navfooter a:hover,.navfooter a:focus, .navfooter a:active{color:black !important;}
.navfooter a{max-width: 10em;overflow:hidden;}
.navfooter a:link {text-decoration:none;}

/* Keywords, code, programlistings ***********************************/

span.term {
    font-weight: bold;
}
.command {
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
    color: navy;
}

.code
{
    font-family: monospace;
    font-size: 10pt;
    white-space: pre;
    background-color: #eee;/*#ffffcc;*/
    padding: 0 0.4em 0 0.4em;
}
/* allow wrapping of the code in tables/para. Programlisting is left untouched. */
p code.code {
    white-space: pre-wrap;
}

.programlisting
{
    font-family:monospace;
    white-space: pre;
    background-color: #eee;
    padding-left: 15pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

/* Tables of content ****************************************/
.toc {
    margin-left: 2em;
    margin-right: 2em;
}
.toc a {
    border-bottom: 0;
}



/* Add an external-link icon to absolute links *************/
a[href^="http:"] {
    background: url(img/remote.gif) right center no-repeat;
    padding-right: 12px;
}

a[href^="http:"]:hover {
    background: url(img/remote_a.gif) right center no-repeat;
}

/* Add a note icon to footnote links */
a[href^="#FTN"] {
    background: url(img/qbullet-note.gif) right center no-repeat;
    padding-right: 12px;
}

a[href^="#FTN"]:hover {
    background: url(img/qbullet-note_a.gif) right center no-repeat;
}

/* ...and a back icon to the backlinks in the footnotes themselves */
a[name^="FTN"] {
    background: url(img/scrollup.gif) right center no-repeat;
    padding-right: 12px;
}

a[name^="FTN"]:hover {
    background: url(img/scrollup_a.gif) right center no-repeat;
}

/* Add a download icon to .gz links */
a[href$=".gz"],a[href$=".tar"],a[href$=".zip"] {
    background: url(img/disk.gif) right center no-repeat;
    padding-right: 12px;
}


/* Add an Acrobat Reader icon to PDF links */
a[href$=".pdf"] {
    background: url(img/acrobat.gif) right center no-repeat;
    padding-right: 12px;
}

a[href$=".pdf"]:hover {
    background: url(img/acrobat_a.gif) right center no-repeat;
}

/* Add a Word icon to RTF links */
a[href$=".rtf"] {
    background: url(img/word.gif) right center no-repeat;
    padding-right: 12px;
}


/* ...or to the translation links on each page */
div.translatelink > a[href^="http:"] {
    background: transparent;
    padding-right: 0px;
}

div.translatelink > a[href^="http:"]:hover {
    background: transparent;
}

/* ...or to any images  */
div.imagelink  a[href^="http:"] {
    background: transparent;
    padding-right: 0px;
}

div.imagelink  a[href^="http:"]:hover {
    background: transparent;
}